.content-principal{
    height: calc(100vh - 56px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-select{
    color: var(--ion-color-primary);
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

.label-input{
    --color: var(--ion-color-tertiary);
}

.label{
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.error{
    font-size: 0.6rem;
    text-align: left;
    padding-left: 20px;
}

.button-login{
    margin-top: 30px;
}

ion-button{
    --border-radius: 5px;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.titulo{
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

form{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.button-forget{
    --border-color: #D4D4D4;
    --color: var(--ion-color-tertiary);
    margin-top: 10px;
}

.copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

.copy-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.label-info{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
}

.input-invisible{
    position: fixed;
    border: none;
    background: transparent;
    color: transparent;
    outline: none;
    z-index: -1;
}

.content-left{
    background: #106EB0;
}

.titulo-desktop{
    color: #ffffff;
    font-weight: bold;
    font-size: 4rem;
    padding: 15px;
}

@media only screen and (max-width: 767px) {
    .content-left{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }
    .col-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-desktop{
        align-items: center;
        justify-content: unset;
    }

    .content-principal{
        height: 100vh;
    }

    .copy{
        bottom: 40px;
    }
}

@media only screen and (max-height: 600px) {
    .copy{
        position: inherit;
        margin-top: 5px;
    }
}