<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="content-principal">
    <ion-col class="col-content content-left" size="12" size-md="6" size-sm="0">
      <div class="col-content background-desktop">
        <ion-label class="titulo-desktop">Confirmación de teléfono </ion-label>
      </div>
    </ion-col>
    <ion-col class="col-content content-desktop" size="12" size-md="6" size-sm="12">
      <ion-label color="tertiary" class="titulo" style="margin-bottom: 5px;">Confirmación de teléfono</ion-label>
      <ion-label color="tertiary">Hemos enviado un código al</ion-label>
      <ion-label color="tertiary" class="titulo" style="margin-top: 5px;">{{ telefono }}</ion-label>
      <form [formGroup]="registro3Form" (ngSubmit)="onContinue()" novalidate autocomplete="off">
        <ion-item class="item-form" mode="ios">
          <ion-label mode="ios" position="floating" class="label-input">Código de confirmación</ion-label>
          <ion-input mode="ios" inputmode="numeric" type="number" formControlName="cod" color="primary"></ion-input>
        </ion-item>
        <ion-label class="label error" color="danger" *ngIf="((errorControl.cod.invalid && (errorControl.cod.dirty || errorControl.cod.touched)) && errorControl.cod.errors?.required) || codInvalid">El código de confirmación es un campo requerido.</ion-label>
        <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
          Continuar
        </ion-button>
        <ion-button mode="ios" (click)="goBack()" expand="block" fill="outline" class="light-button">
          Cambiar número de celular
        </ion-button>
        <ion-button mode="ios" (click)="resetCode()" expand="block" fill="outline" class="light-button">
          Volver a enviar código
        </ion-button>
        <div [ngClass]="{'copy': keyboard, 'copy-active': !keyboard}">
          <ion-label color="secondary" class="label-info">Si necesitas soporte escríbenos a</ion-label>
          <ion-label (click)="clipboard()" color="tertiary" class="label-info bold">info@creditwit.app</ion-label>
          <input id="email" type="text" value="info@creditwit.app" style="position: fixed;" class="input-invisible">
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
