<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 140px; margin-bottom: 5px;" src="../assets/images/icons/noti_Check.svg"></ion-img>
            <ion-label class="tittle" color="tertiary">{{ cuenta.titulo }}<br> exitosamente</ion-label>
            <ion-label class="label-info" color="tertiary" *ngIf="cuenta.titulo != 'Efectivo agregado'">Ahora podrás recibir pagos en</ion-label>
            <div class="content-info" style="min-height: 136px;">
              <ion-label color="tertiary" *ngIf="cuenta.line1">{{ cuenta.line1 }}</ion-label>
              <ion-label color="tertiary" style="width: 100%;" *ngIf="cuenta.line2">{{ cuenta.line2 }}</ion-label>
              <ion-label color="tertiary" *ngIf="cuenta.line3">{{ cuenta.line3 }}</ion-label>
              <ion-label color="tertiary" *ngIf="cuenta.line4">{{ cuenta.line4 }}</ion-label>
            </div>
            <ion-button (click)="continue()" mode="ios" class="button" expand="block" color="secondary">
              Finalizar
            </ion-button>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>
