<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 92px; margin-bottom: 5px;" src="../assets/images/icons/pago_movil.png"></ion-img>
            <ion-label class="tittle" color="tertiary">Pago móvil</ion-label>
            <form [formGroup]="cuentaForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
              <div style="display: flex; align-items: flex-end; width: 90%; max-width: 320px; margin: auto;">
                <ion-select style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 60px; padding-bottom: 15px; padding-right: 30px;" formControlName="letter" interface="popover" mode="ios" color="primary">
                    <ion-select-option value="V">V</ion-select-option>
                    <ion-select-option value="E">E</ion-select-option>
                    <ion-select-option value="J">J</ion-select-option>
                    <ion-select-option value="C">C</ion-select-option>
                    <ion-select-option value="G">G</ion-select-option>
                </ion-select>
                <ion-item style="width: 100%;" mode="ios" class="ion-no-padding">
                    <ion-label position="floating" class="label-id label-input">Número de identificación</ion-label>
                    <ion-input maxlength="11" (keydown)="onInput($event)" [(ngModel)]="fixedID" (ionChange)="formatID($event)"  class="input-id" mode="ios" inputmode="numeric" type="text" formControlName="id" color="primary">
                    </ion-input>
                </ion-item>
              </div>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.id.invalid && (errorControl.id.dirty || errorControl.id.touched)) && errorControl.id.errors?.required) || idInvalid">El número de identificación es un campo requerido.</ion-label>
              <ion-item class="item-form" mode="ios">
                <ion-label mode="ios" position="floating" class="label-input">Número de celular</ion-label>
                <ion-input (keydown)="onInput($event)" [brmasker]="{mask:'(0000) 000-0000'}" maxlength="15" inputmode="numeric" mode="ios" type="text" formControlName="phone" color="primary"></ion-input>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.phone.invalid && (errorControl.phone.dirty || errorControl.phone.touched)) && errorControl.phone.errors?.required) || phoneInvalid">El número de celular es un campo requerido.</ion-label>
              <ion-item class="item-form" mode="ios">
                <ion-select [(ngModel)]="bank" class="select" formControlName="bank" interface="popover" mode="ios" placeholder="Seleccionar banco">
                  <ion-select-option *ngFor="let cuenta of cuentas" >{{ cuenta.nombre }}</ion-select-option>
              </ion-select>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.bank.invalid && (errorControl.bank.dirty || errorControl.bank.touched)) && errorControl.bank.errors?.required) || bankInvalid">El banco es un campo requerido.</ion-label>
              <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
                Guardar
              </ion-button>
            </form>
          </div>
        </ion-col>
    </ion-row>
  </div>

</ion-content>
