.content-principal{
    height: 100vh;
}
 
.col-content{
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.col-content-info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
}

.rating{
    background-color: var(--ion-color-secondary);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    padding: 2px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.ion-button{
    --border-radius: 5px;
}

.content-principal{
    height: calc(91vh - 44px - 56px);
}

.content-input{
    width: 90%;
    position: relative;
    border: 1px solid #106EB0;
    border-radius: 19px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 16px;
    ion-icon{
        color: var(--ion-color-primary);
        font-weight: bolder;
        margin-right: 10px;
        font-size: 22px;
    }
}

ion-list{
    width: 90%;
    margin-top: 15px;
    ion-item{
        --padding-start: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name{
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 3px;
            padding-left: 3px;
        }

        .cedula{
            font-weight: 600;
            font-size: 12px;
            color: #CACACA;
            padding-left: 3px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }

    .col-content{
        min-height: 600px;
    }
}

@media only screen and (min-width: 768px) {

    .col-content{
        width: 30%;
    }

    .header{
        display: none;
    }

    .content-principal{
        height: calc( 100vh - 56px );
        overflow: auto;
    }

    .content-input{
        width: 65%;
    }

    ion-list{
        width: 65%;
    }
}