<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px"
        src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <ion-label class="title" style="margin-top: 20px;">Enviar orden de cobro</ion-label>

        <div class="content-input">
          <ion-icon name="search-outline"></ion-icon>
          <ion-input [(ngModel)]="buscar" (ionChange)="filterArray()" type="text" placeholder="Nombre o apellido"></ion-input>
        </div>

        <ion-list>
          <ion-item *ngFor="let usuario of directorios" (click)="setUsuario( usuario )">
            <div class="content-data">
              <ion-label color="primary" class="name">{{ usuario.nombre }} {{ usuario.apellido }}</ion-label>
              <ion-label color="tertiary" class="cedula">{{ usuario.letter }} {{ usuario.number }}</ion-label>
            </div>
            <div class="content-rating" slot="end">
              <div class="rating">
                {{ usuario.rating.puntuacion }} <ion-icon name="star"></ion-icon> ({{ usuario.rating.numeroCalificaciones }})
              </div>
            </div>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </div>

</ion-content>