<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px"
        src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">

        <!--INFORMACION DEL DEUDOR-->
        <div class="regular-box" style="margin-top: 15px; max-width: 320px;">
          <ion-label color="primary" class="box-title">Recordatorios de cobro</ion-label>
          <div class="col-content-info">
            <div class="content-title">
              <ion-label color="tertiary" class="box-subtitle">Datos del deudor</ion-label>
              <ion-label class="info-label">{{nombre}}</ion-label>
            </div>
            <div>
              <ion-label color="tertiary" class="box-subtitle">Monto a cobrar</ion-label>
              <ion-label class="info-label">{{currency + ' ' + monto}}</ion-label>
            </div>
          </div>
        </div>

        <ion-list class="list-radio">
          <ion-radio-group mode="md" [(ngModel)]="tipo">
            <ion-item lines="none">
              <ion-radio value="1"></ion-radio> &nbsp;
              <ion-label>Mensaje estándar</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="tipo == '1'">
              <p>
                Tu pago a {{nombre}} por {{currency + ' ' + monto}} venció hace 14 días. Registra tu pago aquí para evitar una mala calificación: https://creditwit.app/login?d=jHH3eTLm=dD
              </p>
            </ion-item>
            <ion-item lines="none">
              <ion-radio value="2"></ion-radio>&nbsp;
              <ion-label>Personalizado</ion-label>
            </ion-item>
            <ion-item lines="none" *ngIf="tipo == '2'">
              <div style="width: 100%;">
                <p>
                  Límite de caracteres (160)
                </p>
                <ion-textarea [(ngModel)]="mensaje" mode="ios" autocapitalize="sentences" class="textarea"  placeholder="Escribe un mensaje para recordar que la deuda venció y debe ser pagada" maxlength="160">
                </ion-textarea>
              </div>
            </ion-item>
            <ion-item lines="none">
              <ion-radio value="3"></ion-radio>&nbsp;
              <ion-label>No enviar mensaje</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        
        <div class="date-content">
          <!--DATE INPUT-->
          <ion-item class="item-form" style="width: 100%;" mode="ios">
            <ion-label position="floating" color="primary" class="input-text label-input">Enviar mensaje cada (días):
            </ion-label>
            <ion-input class="input-text" (keydown)="onInput($event)" mode="ios"
              [(ngModel)]="dias" color="primary" inputmode="numeric" maxlength="2" type="text">
            </ion-input>
          </ion-item>
        </div>
        <ion-label class="frecuencia" color="tertiary">La frecuencia mínima es de 1 día.</ion-label>

        <ion-button mode="ios" class="accent-button" type="submit" (click)="registerDoubt()" expand="block"
          color="secondary">
          Registrar deuda
        </ion-button>

      </ion-col>
    </ion-row>
  </div>

</ion-content>