.col-content-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.list-radio{
    width: 90%;
    max-width: 320px;
    
    ion-item{
        color: var(--ion-color-tertiary);
        --padding-start: 5px;
        font-size: 14px;
        p{
            font-size: 12px;
            width: 90%;
            margin: auto;
        }
    }
}

.textarea{
    border: 1px solid #D4D4D4;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    --padding-start: 5px !important;
    height: 100px;
    max-width: 320px;
}

.date-content{
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    width: 90%;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

.frecuencia{
    text-align: left;
    width: 100%;
    max-width: 320px;
    color: #D4D4D4;
    font-size: 9px;
}