<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <div class="col-content background">
          <ion-label color="tertiary" class="titulo">Nueva clave</ion-label>
          <ion-label color="tertiary" class="label-info">Debe tener mínimo 8 caracteres</ion-label>
          <form [formGroup]="changePassForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
            <ion-item class="item-form" mode="ios">
              <ion-label mode="ios" position="floating" class="label-input">Clave</ion-label>
              <ion-input minlength="8"  maxlength="25" mode="ios" [type]="hide ? 'text' : 'password'" formControlName="pass" color="primary"></ion-input>
              <ion-icon [name]="hide ? 'eye-off-outline' : 'eye-outline'" (click)="hidden()" color="primary" class="icon-eyes"></ion-icon>
            </ion-item>
            <ion-label class="label error" color="danger" *ngIf="((errorControl.pass.invalid && (errorControl.pass.dirty || errorControl.pass.touched)) && (errorControl.pass.errors?.required || errorControl.pass.errors?.minlength)) || passInvalid">La clave debe tener mínimo 8 caracteres.</ion-label>
            <ion-item class="item-form" mode="ios">
              <ion-label mode="ios" position="floating" class="label-input">Confirmar clave</ion-label>
              <ion-input  maxlength="25" mode="ios" [type]="hideC ? 'text' : 'password'" type="password" formControlName="confirm" color="primary"></ion-input>
              <ion-icon [name]="hideC ? 'eye-off-outline' : 'eye-outline'" (click)="hiddenC()" color="primary" class="icon-eyes"></ion-icon>
            </ion-item>
            <ion-label class="label error" color="danger" *ngIf="((errorControl.confirm.invalid && (errorControl.confirm.dirty || errorControl.confirm.touched)) && errorControl.confirm.errors?.required) || confirmInvalid">La confirmación de clave es un campo requerido.</ion-label>
            <ion-label class="label error" color="danger" *ngIf="error">Las claves no coinciden</ion-label>
            <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
              Guardar
            </ion-button>
          </form>
        </div>
      </ion-col>
      <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
      </ion-col>
    </ion-row>
  </div>
</ion-content>
