.background-desktop{
    background-image: url(../../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(100vh - 50px - 61px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.content{
    text-align: center;
    width: 100%;
    padding-top: 25px;
    height: 100%;
    overflow: auto;
}

.title{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}

.content-datos{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 6px;
    max-width: 320px;
}

.title-datos{
    font-size: 14px;
    font-weight: bold;
}

.subtitle-datos{
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.info-datos{
    font-size: 14px;
}

.label{
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.error{
    font-size: 0.6rem;
    text-align: left;
    width: 90%;
    max-width: 320px;
}

.label{
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.select{
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    --placeholder-color: var(--ion-color-tertiary);
    --placeholder-opacity: 1;
    --padding-start: 0;
}

.popover-select{
    --width: 300px !important;
    --max-width: 300px !important;
    --min-width: 300px;
}

.selector{
    display: flex;
    align-items: flex-end;
    width: 90%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.input-id{
    --padding-start: 5px;
}

ion-select{
    color: var(--ion-color-primary);
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

form{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.label-input{
    --color: var(--ion-color-tertiary);
}

.button{
    margin-top: 25px;
}

.icon-img{
    cursor: pointer;
}

.input-file{
    position: absolute;
    width: 27px;
    right: 20px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.delete{
    z-index: 9999;
}

.label-image{
    margin: 10px auto 3px auto;
    color: var(--ion-color-tertiary);
    font-size: 14px;
    display: block;
    text-align: left;
    width: 90%;
    max-width: 320px;
}

.label-currency{
    display: block;
    margin: auto;
    margin-top: 10px;
    color: var(--ion-color-primary);
    padding-left: 85px;
    font-size: 14px;
    max-width: 320px;
    width: 90%;
    text-align: left;
}

.item-img{
    width: 90%;
    max-width: 320px;
    --padding-start: 0;
    margin: auto;
    margin-top: 20px;
}

.item-img-active{
    width: 90%;
    max-width: 320px;
    --padding-start: 0;
    margin: auto;
    margin-top: 0;
}

.label-id{
    padding-left: 5px;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}


@media only screen and (min-width: 768px) {
   

    .content-principal{
        height: calc( 100vh - 57px );
    }
}

::ng-deep .sc-ion-popover-ios-h{
    --width: auto !important;
    --max-width: 300px !important;
}