<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-label class="title" color="tertiary">Registrar pago</ion-label>
            <div class="content-datos" style="min-height: 113px;">
              <ion-label class="title-datos" color="primary">Detalles de la deuda:</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Deuda en dólares</ion-label>
              <ion-label class="info-datos" color="tertiary">$ {{ deuda.monto$ }}</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Deuda en bolívares</ion-label>
              <ion-label class="info-datos" color="tertiary">Bs. {{ deuda.montoBs }}</ion-label>
            </div>
            <form [formGroup]="pagoForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
              <ion-label color="primary" class="label-currency label-input">Monto</ion-label>
              <div class="selector">
                <ion-select 
                  style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 80px; padding-bottom: 15px; padding-right: 10px;"
                  formControlName="currencyType" interface="popover" mode="ios" color="primary" (ionChange)="clearAmount()">
                  <ion-select-option value="Bs">Bs</ion-select-option>
                  <ion-select-option value="$">$</ion-select-option>
                </ion-select>
                <ion-item style="width: 100%; border-left: 1px solid #92949c;" mode="ios" class="ion-no-padding">
                  <app-currency-input [precision]="precision" [amount]="amountCurrency" (amountEntered)="amountChanged($event)"></app-currency-input> 
                </ion-item>
              </div>
              <ion-label class="label error" color="danger"
              *ngIf="amountInvalid || ((errorControl.amount.invalid && (errorControl.amount.dirty || errorControl.amount.touched)) && errorControl.amount.errors?.required)">
              Monto no válido.</ion-label>
              <ion-item class="item-form" mode="ios">
                <ion-select [interfaceOptions]="customPopoverOptions" class="select" formControlName="metodo" interface="popover" mode="ios" placeholder="Método de pago utilizado">
                  <ion-select-option [value]="cuenta.id" *ngFor="let cuenta of account">{{ cuenta.titulo }}</ion-select-option>
              </ion-select>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.metodo.invalid && (errorControl.metodo.dirty || errorControl.metodo.touched)) && errorControl.metodo.errors?.required) || metodoInvalid">El método de pago es un campo requerido.</ion-label>
              <ion-item class="item-form" mode="ios">
                <ion-label inputmode="tel" mode="ios" position="floating" class="label-input">Número de referencia (opcional)</ion-label>
                <ion-input mode="ios" type="number" inputmode="numeric" formControlName="referencia" inputmode="numeric" color="primary"></ion-input>
              </ion-item>
              <!-- <ion-item mode="ios">
                <ion-label color="tertiary" >{{ textImage }}</ion-label>
                <ion-icon *ngIf="!upload" class="icon-img" (click)="uploadImage()" slot="end" src="../../assets/images/icons/upload.svg"></ion-icon>
                <ion-icon *ngIf="upload" class="icon-img" (click)="deleteImage()" slot="end" src="../../assets/images/icons/delete.svg"></ion-icon>
              </ion-item> -->
              <ion-label *ngIf="upload" class="label-image">Imagen de la transacción</ion-label>
              <ion-item [ngClass]="{'item-img': !upload, 'item-img-active': upload}" mode="ios">
                <ion-label color="tertiary" >{{ textImage }}</ion-label>
                <ion-icon *ngIf="!upload" class="icon-img" slot="end" src="../../assets/images/icons/upload.svg"></ion-icon>
                <ion-icon *ngIf="upload" (click)="deleteImage()" class="icon-img delete" slot="end" src="../../assets/images/icons/delete.svg"></ion-icon>
                <ion-input class="input-file" type="file" accept="image/*" (change)="handleFileInput($event.target.files)"></ion-input>
              </ion-item>
              <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
                Registrar pago
              </ion-button>
            </form>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>
