<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px"
        src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col style="height: auto;" class="col-content" size="12" size-md="6" size-sm="12">

        <!--INFORMACION DEL DEUDOR-->
        <div class="regular-box" style="margin-top: 15px; max-width: 320px;">
          <ion-label color="primary" class="box-title">Datos de la orden de cobro</ion-label>
          <div class=col-content-info>
            <ion-label color="tertiary" class="box-subtitle">Datos del deudor</ion-label>
            <div class="content-title">
              
              <ion-label class="info-label" *ngIf="registrado">{{nombre}}</ion-label>
              <div *ngIf="registrado" class="rating">
                {{ puntuacion }} <ion-icon name="star"></ion-icon> {{ calificaciones }}
              </div>
            </div>

            <ion-label class="info-label">{{cedulaAux}}</ion-label>
          </div>

          <div style="margin-top: 5px;">
            <ion-label color="tertiary" class="box-subtitle">Monto a cobrar</ion-label>
            <ion-label class="info-label">{{currency + ' ' + monto}}</ion-label>
          </div>
        </div>

        <form [formGroup]="chargeForm" class="form-content" novalidate autocomplete="off">
          <div class="form-content" style="margin-top: 0;" *ngIf="!registrado">
            <!--NOMBRE-->
            <ion-item  class="item-form" mode="ios">
              <ion-label position="floating" color="primary" class="input-text label-input">Nombre</ion-label>
              <ion-input class="input-text" mode="ios" type="text" formControlName="nombres" color="primary" autocapitalize="sentences">
              </ion-input>
            </ion-item>
            <ion-label class="label error" color="danger"
              *ngIf="((errorControl.nombres.invalid && (errorControl.nombres.dirty || errorControl.nombres.touched)) && errorControl.nombres.errors?.required) || nombresInvalid">
              Nombre es un campo requerido.</ion-label>

            <!--APELLIDO-->
            <ion-item class="item-form" mode="ios">
              <ion-label position="floating" color="primary" class="input-text label-input">Apellido</ion-label>
              <ion-input class="input-text" mode="ios" type="text" formControlName="apellidos" color="primary" autocapitalize="sentences">
              </ion-input>
            </ion-item>
            <ion-label class="label error" color="danger"
              *ngIf="((errorControl.apellidos.invalid && (errorControl.apellidos.dirty || errorControl.apellidos.touched)) && errorControl.apellidos.errors?.required) || apellidosInvalid">
              Apellido es un campo requerido.
            </ion-label>
          </div>

          <div class="form-content" style="margin-top: 0;" *ngIf="!registrado || !hasPhone">
            <!--NUMERO DE CELULAR-->
            <div class="item-form" style="display: flex; align-items: flex-end;">
              <ion-select style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 85px; padding-bottom: 15px; padding-right: 10px; padding-left: 5px;" formControlName="code" interface="popover" mode="ios" color="primary">
                  <ion-select-option value="414">0414</ion-select-option>
                  <ion-select-option value="424">0424</ion-select-option>
                  <ion-select-option value="412">0412</ion-select-option>
                  <ion-select-option value="416">0416</ion-select-option>
                  <ion-select-option value="426">0426</ion-select-option>
              </ion-select>
              <ion-item style="width: 100%;" mode="ios" class="ion-no-padding">
                  <ion-label position="floating" color="primary" class="label-id label-input">Número de celular del
                    deudor</ion-label>
                  <ion-input maxlength="7" inputmode="numeric" (keydown)="onInput($event)" class="input-id"  mode="ios" type="text" formControlName="telefono" color="primary">
                  </ion-input>
              </ion-item>
            </div>
            <ion-label class="label error" color="danger"
              *ngIf="((errorControl.telefono.invalid && (errorControl.telefono.dirty || errorControl.telefono.touched)) && errorControl.telefono.errors?.required)  || telefonoInvalid">
              Teléfono es un campo requerido.
            </ion-label>

          </div>

          <div style="flex-direction: column;">
              <div class="date-content">
                  <!--DATE INPUT-->
                  <ion-item class="item-form" style="width: 100%;" mode="ios">
                    <ion-label position="floating" color="primary" class="input-text label-input">Plazo para pagar (días)
                    </ion-label>
                    <ion-input class="input-text" (ionChange)="getDeadline()" (keydown)="onInput($event)" mode="ios"
                      formControlName="plazo" color="primary" inputmode="numeric" maxlength="3" type="text">
                    </ion-input>
                  </ion-item>
                  <!--DEADLINE INFO-->
                  <ion-label class="subtitle deadlineLabel" color="primary">{{fechaLimite}}</ion-label>
              </div>
              <ion-label class="label error" color="danger"
              *ngIf="((errorControl.plazo.invalid && (errorControl.plazo.dirty || errorControl.plazo.touched)) && errorControl.plazo.errors?.required)||plazoInvalid">
              El plazo es un campo requerido.</ion-label>
              <ion-label class="label error" color="danger"
              *ngIf="dateInvalid">
              El plazo máximo es de 365 días</ion-label>
          </div>

          <!--TEXTBOX Y REGISTRAR DEUDA BUTTON-->
            <ion-textarea mode="ios" autocapitalize="sentences" formControlName="concepto" class="textarea"  placeholder="Escribe un concepto (opcional)" maxlength="140">
            </ion-textarea>

        </form>

        <ion-button mode="ios" class="accent-button" type="submit" (click)="onSubmit()" expand="block"
          color="secondary">
          Continuar
        </ion-button>

      </ion-col>
    </ion-row>
  </div>

</ion-content>