.content-principal{
    height: 100vh;
}
 
.col-content{
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.col-content-info{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
}

.rating{
    background-color: var(--ion-color-secondary);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

.content-title{
    display: flex;
    margin-top: 5px;

}

.date-content{
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    width: 90%;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

.form-content{
    margin-top: 10px;
    width: 100%;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
}

.deadlineLabel{
    align-content: flex-end;
    padding-inline-start: 5%;
}

.label-input{
    color:  var(--ion-color-tertiary);
}

.label-id{
    padding-left: 5px;
}



.error{
    font-size: 0.6rem;
    text-align: center;
    width: 100%;
    max-width: 320px;
    padding-left: 10px;
}



.registrar-desktop{
    width: 320px;
}

.regular-box{
    min-height: 140px;
}

.label-desktop{
    font-size: 30px;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.ion-button{
    --border-radius: 5px;
}

.content-principal{
    height: calc(91vh - 44px - 56px);
}

.input-id{
    --padding-start: 4px;
}

ion-select{
    color: var(--ion-color-primary);
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }

    .col-content{
        min-height: 600px;
    }
}

.textarea{
    border: 1px solid #D4D4D4;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    --padding-start: 5px;
    height: 100px;
    max-width: 320px;
}

@media only screen and (min-width: 768px) {

    .col-content{
        width: 30%;
    }

    .header{
        display: none;
    }

    .content-principal{
        height: calc( 100vh - 56px );
        overflow: auto;
    }
}