.content-principal{
    height: 100vh;
}

.titulo{
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0;
}

.background{
    text-align: center;
    background-image: url(../../../../assets/images/background_triangulo.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_4.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.button{
    width: 100%;
    max-width: 320px;
}

.content{
    width: 90%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .background{
        background-image: none;
    }
}