<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <div class="col-content background">
          <div class="content">
            <ion-label color="tertiary" class="titulo" style="margin-bottom: 5px; margin-top: 50px;">¡Bienvenido!</ion-label>
            <br>
            <ion-label color="tertiary">Escoge el tipo de usuario que más vas a utilizar en este momento</ion-label>
            <br>
            <ion-button mode="ios" [routerLink]="['/tabs/enviar-cobro']" class="button" expand="block" color="secondary">
              Cobrador
            </ion-button>
            <ion-label color="tertiary">Envía y gestiona órdenes de cobro</ion-label>
            <br>
            <ion-button mode="ios" [routerLink]="['/tabs']" class="button" expand="block" color="secondary">
              Deudor
            </ion-button>
            <ion-label color="tertiary">Paga y gestiona deudas</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
