<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row id="content-principal-datos-deuda" class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-label class="title" color="tertiary">Datos bancarios</ion-label>
            <div class="content-datos"  *ngFor="let cuenta of cuentas">
              <ion-label class="title-datos" color="primary">{{ cuenta.titulo }}</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ cuenta.detalle.nombre }}</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ cuenta.detalle.cedula }}</ion-label>
              <ion-label class="info-datos" color="tertiary"  *ngIf="cuenta.metodo != 'Transferencia'">{{ cuenta.detalle.banco }}</ion-label>
              <ion-label class="info-datos" color="tertiary" *ngIf="cuenta.metodo == 'Transferencia'">{{ cuenta.detalle.banco }} - {{ cuenta.detalle.tipoCuenta }}</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ cuenta.detalle.numero }}</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ cuenta.detalle.tipo }}</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ cuenta.detalle.titulo }}</ion-label>
              <ion-label class="info-datos" color="tertiary" *ngIf="cuenta.metodo != 'Efectivo'">{{ cuenta.detalle.extra }}</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ cuenta.detalle.correo }}</ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
        </ion-col>
    </ion-row>
  </div>
</ion-content>
