.background-desktop{
    background-image: url(../../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(99vh - 50px - 61px);
}

.content-principal-ios{
    height: calc(91vh - 50px - 61px);
}

.col-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.content{
    text-align: center;
    width: 85%;
    padding-top: 25px;
    height: 100%;
    overflow: auto;
}

.title{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}

.content-datos{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    background-color: #F7F7F7;
    padding: 6px;
}

.title-datos{
    font-size: 14px;
    font-weight: bold;
}

.info-datos{
    font-size: 14px;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .content-principal{
        height: calc( 100vh - 57px );
    }
}