<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <div class="col-content background">
          <ion-label color="tertiary" class="titulo" style="margin-bottom: 5px;">Código enviado</ion-label>
          <ion-label color="tertiary">El número de identificación</ion-label>
          <ion-label color="tertiary" class="titulo" style="margin-top: 5px;">{{ cedula }}</ion-label>
          <ion-label color="tertiary" style="text-align: center;">está asociado a un teléfono terminado en {{ telefono }}</ion-label>
          <form [formGroup]="confirmarForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
            <ion-item class="item-form" mode="ios">
              <ion-label mode="ios" position="floating" class="label-input">Código de confirmación</ion-label>
              <ion-input mode="ios" inputmode="numeric" formControlName="cod" color="primary"></ion-input>
            </ion-item>
            <ion-label class="label error" color="danger" *ngIf="((errorControl.cod.invalid && (errorControl.cod.dirty || errorControl.cod.touched)) && errorControl.cod.errors?.required) || codInvalid">El código de confirmación es un campo requerido.</ion-label>
            <ion-label class="label error" color="danger" *ngIf="error">El código introducido no es correcto</ion-label>
            <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
              Continuar
            </ion-button>
            <ion-button mode="ios" (click)="goBack()" expand="block" fill="outline" class="simple-button">
              Cambiar número de identificación
            </ion-button>
            <ion-button mode="ios" (click)="resetCode()" expand="block" fill="outline" class="simple-button">
              Volver a enviar código
            </ion-button>
            <div [ngClass]="{'copy': keyboard, 'copy-active': !keyboard}">
              <ion-label class="label-info black">Si necesitas soporte escríbenos a</ion-label>
              <ion-label (click)="clipboard()" color="tertiary" class="label-info bold border">info@creditwit.app</ion-label>
              <input id="email" type="text" value="info@creditwit.app" style="position: fixed;" class="input-invisible">
            </div>
          </form>
        </div>
      </ion-col>
      <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
        <div class="content-info">
          <ion-label class="label-info">Si necesitas</ion-label>
            <ion-label class="label-info">soporte, escríbenos a</ion-label>
            <br>
            <ion-label color="tertiary" (click)="clipboard()" class="label-info bold border">info@creditwit.app</ion-label>
            <input id="email" type="text" value="info@creditwit.app" style="position: fixed;" class="input-invisible">
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
