.content-principal{
    height: calc(100vh - 54px);
}


ion-select{
    color: var(--ion-color-primary);
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

.label-input{
    --color: var(--ion-color-tertiary);
}

.label{
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.error{
    font-size: 0.6rem;
    text-align: left;
    width: 90%;
    max-width: 320px;
}

ion-button{
    --border-radius: 5px;
}

.titulo{
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 15px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

.copy-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    .black{
        color: var(--ion-color-tertiary);
    }
}

.label-info{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}

.border{
    width: 90%;
    max-width: 320px;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: var(--ion-color-tertiary);
}

.bold{
    font-weight: bold;
}

.input-invisible{
    position: fixed;
    border: none;
    background: transparent;
    color: transparent;
    outline: none;
    z-index: -1;
}

.background{
    background-image: url(../../../../assets/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.titulo-desktop{
    color: #ffffff;
    font-weight: bold;
    font-size: 4rem;
}

.button-copy{
    opacity: 0.8;
}

.content-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    text-align: right;
}


@media only screen and (max-width: 767px) {
    .content-right, .content-info{
        display: none;
    }

    @media only screen and (max-height: 610px) {
        .copy{
            position: inherit;
            margin-top: 10px;
        }

        .black{
            color: var(--ion-color-tertiary);
        }
       

    }

     .background-desktop{
        background-image: none;
    }

}

@media only screen and (min-width: 768px) {
    .header, .copy{
        display: none;
    }

    .content-principal{
        padding: var(--padding-auth);
        height: 100vh;
    }

    .background{
        background-image: none;
        margin-top: 30px;
            }       
            
        .label-info{
            font-size: 30px;
            width: 100%;
        }
    
        .content-right, .content-info{
            padding-right: 70px;
            padding-bottom: 30px;
            right:0px;
        }
    }
