<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 92px; margin-bottom: 5px;" src="../assets/images/icons/cuenta.png"></ion-img>
            <ion-label class="tittle" color="tertiary">Cuenta Bancaria</ion-label>
            <form [formGroup]="cuentaForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
              <ion-item class="item-form" mode="ios">
                <ion-label mode="ios" position="floating" class="label-input">Nombre y apellido</ion-label>
                <ion-input mode="ios" type="text" autocapitalize="sentences" formControlName="name" color="primary"></ion-input>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.name.invalid && (errorControl.name.dirty || errorControl.name.touched)) && errorControl.name.errors?.required) || nameInvalid">El nombre y apellido es un campo requerido.</ion-label>
              <div style="display: flex; align-items: flex-end; width: 90%; max-width: 320px; margin: auto;">
                <ion-select style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 60px; padding-bottom: 15px; padding-right: 30px;" formControlName="letter" interface="popover" mode="ios" color="primary">
                    <ion-select-option value="V">V</ion-select-option>
                    <ion-select-option value="E">E</ion-select-option>
                    <ion-select-option value="J">J</ion-select-option>
                    <ion-select-option value="C">C</ion-select-option>
                    <ion-select-option value="G">G</ion-select-option>
                </ion-select>
                <ion-item style="width: 100%;" mode="ios" class="ion-no-padding">
                    <ion-label position="floating" class="label-id label-input">Número de identificación</ion-label>
                    <ion-input maxlength="11" (keydown)="onInput($event)" [(ngModel)]="fixedID" (ionChange)="formatID($event)" class="input-id" mode="ios" inputmode="numeric" type="text" formControlName="id" color="primary">
                    </ion-input>
                </ion-item>
              </div>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.id.invalid && (errorControl.id.dirty || errorControl.id.touched)) && errorControl.id.errors?.required) || idInvalid">El número de identificación es un campo requerido.</ion-label>
              <ion-item class="item-form" mode="ios">
              <ion-select (ionChange)="onChange()" [(ngModel)]="bank" class="select" formControlName="bank" interface="popover" mode="ios" placeholder="Seleccionar banco">
                  <ion-select-option *ngFor="let cuenta of cuentas" >{{ cuenta.nombre }}</ion-select-option>
              </ion-select>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.bank.invalid && (errorControl.bank.dirty || errorControl.bank.touched)) && errorControl.bank.errors?.required) || bankInvalid">El banco es un campo requerido.</ion-label>
              <ion-item class="item-form" mode="ios">
                <ion-select class="select" formControlName="type" interface="popover" mode="ios" placeholder="Tipo de cuenta">
                  <ion-select-option >Corriente</ion-select-option>
                  <ion-select-option >Ahorro</ion-select-option>
              </ion-select>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.type.invalid && (errorControl.bank.dirty || errorControl.type.touched)) && errorControl.type.errors?.required) || typeInvalid">El tipo de cuenta es un campo requerido.</ion-label>
              <ion-item class="item-form" mode="ios">
                <ion-label inputmode="tel" mode="ios" position="floating" class="label-input">Número de cuenta</ion-label>
                <ion-input minlength="20" maxlength="20" (keydown)="onInput($event)" mode="ios" type="text" formControlName="number" inputmode="numeric" color="primary"></ion-input>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.number.invalid && (errorControl.number.dirty || errorControl.number.touched)) && errorControl.number.errors?.required) || numberInvalid">El número de cuenta de contener 20 dígitos.</ion-label>
              <ion-label class="label error" color="danger" *ngIf="bankPrefijo">Los 4 primeros dígitos de la cuenta no correspone con el banco seleccionado.</ion-label>
              <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
                Guardar
              </ion-button>
            </form>
          </div>
        </ion-col>
    </ion-row>
  </div>

</ion-content>
