<ion-header class="ion-no-border header">
    <ion-toolbar class="ion-no-border">
        <ion-buttons default-href="/login" slot="start">
            <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-desktop">
        <ion-row id="content-principal-detalle-pago" class="content-principal">
            <ion-col class="col-content" size="12" size-md="6" size-sm="12">
                <div id="content-detalle-pago" class="content">
                    <ion-label class="title">Detalle de pago</ion-label>
                    <!--DETALLES DEL PAGO-->
                    <div class="regular-box" style="margin-top: 20px;">
                        <div style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
                            <ion-label color="success" class="box-title">Detalles del pago:</ion-label>
                            <ion-img *ngIf="deuda.comprobante" (click)="verImagen()" class="verimagen" src="../../assets/images/verimagen.png"></ion-img>
                        </div>
                        <div>
                            <ion-label color="tertiary" class="box-subtitle">Fecha de pago</ion-label>
                            <ion-label class="info-label"> {{deuda.fecha | date:'dd/MM/yyyy' }}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Método de pago</ion-label>
                            <ion-label class="info-label">{{deuda.metodo.metodo}}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Referencia o detalle</ion-label>
                            <ion-label class="info-label">{{deuda.referencia}}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Evaluación al deudor</ion-label>
                            <ionic-rating-component #rating activeIcon="star" *ngIf="showRating" defaultIcon="star-outline" activeColor="#E7A016" defaultColor="#E7A016" readonly="true" rating={{deuda.calificacion}} fontSize="15px">
                            </ionic-rating-component>
                            <ion-label class="info-label" *ngIf="!showRating">N/A</ion-label>
                        </div>
                    </div>

                    <!--DATOS DE LA DEUDA-->
                    <div class="regular-box" style="margin-top: 20px;" *ngIf="deuda.pagas.length > 0">
                        <ion-label color="primary" class="box-title">Deudas pagadas:</ion-label>
                        <div style="margin-top: 5px;" class="content-abono" *ngFor="let abono of deuda.pagas">
                            <ion-label color="tertiary" class="box-subtitle">Concepto</ion-label>
                            <ion-label class="info-label">{{ abono.concepto }}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Abonado</ion-label>
                            <ion-label class="info-label">{{ deuda.currency }} {{ abono.monto }}</ion-label>
                        </div>
                    </div>

                    <div class="regular-box" style="margin-top: 20px;" *ngIf="deuda.abonada.monto">
                        <ion-label color="primary" class="box-title">Deuda abonada:</ion-label>
                        <div>
                            <ion-label color="tertiary" class="box-subtitle">Monto Deuda</ion-label>
                            <ion-label class="info-label">{{ deuda.currency }} {{ deuda.abonada.monto }}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Concepto</ion-label>
                            <ion-label class="info-label">{{ deuda.abonada.concepto }}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Abonado</ion-label>
                            <ion-label class="info-label">{{ deuda.currency }} {{ deuda.abonada.abonado }}</ion-label>
                        </div>
                    </div>

                    <!--DATOS DEL PAGADOR-->
                    <div class="regular-box" style="margin-top: 20px;">
                        <ion-label color="primary" class="box-title">Datos del pagador:</ion-label>
                        <div style="width: 100%;">
                            <ion-label color="tertiary" class="box-subtitle">Nombre y apellido</ion-label>
                            <ion-label class="info-label">{{ deuda.deudor.nombres }} {{ deuda.deudor.apellidos }}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Número de identificación</ion-label>
                            <ion-label class="info-label">{{ deuda.deudor.cedula }}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Número de celular</ion-label>
                            <ion-label class="info-label">{{ deuda.deudor.telefono }}</ion-label>
                            <ion-label color="tertiary" class="box-subtitle">Correo electrónico</ion-label>
                            <ion-label class="info-label">{{ deuda.deudor.correo }}</ion-label>
                            <div class="content-abono" *ngFor="let abono of abonos">
                                <ion-label color="tertiary" class="box-subtitle">Fecha del abono</ion-label>
                                <ion-label class="info-label">{{ abono.fecha | date:'dd/MM/yyyy' }}</ion-label>
                                <ion-label class="box-subtitle" color="tertiary">Monto</ion-label>
                                <ion-label class="info-datos" color="tertiary">{{ deuda.currency }} {{ abono.abonada.abonado }}</ion-label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-row">
                    <ion-button mode="ios" class="accent-button" type="submit" (click)="rechazarPago( )" expand="block" color="secondary">
                        Rechazar
                    </ion-button>
                    <ion-button mode="ios" class="accent-button" type="submit" (click)="answerPayment( true )" expand="block" color="secondary">
                        Aceptar
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>