

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 140px;" src="../assets/images/icons/success_icon.png"></ion-img>
            <ion-label class="title" color="tertiary">Deuda Registrada <br> exitosamente</ion-label>
            <div class="light-box" style="margin-top: 10px; min-height: 220px;">
              <ion-label class="subtitle" color="tertiary">Datos personales</ion-label>
              <ion-label color="tertiary">{{nombre}}</ion-label>
              <ion-label color="tertiary">{{cedula}}</ion-label>
              <ion-label class="subtitle" color="tertiary">Monto</ion-label>
              <ion-label color="tertiary">{{monto}}</ion-label>
              
              <ion-label class="subtitle" color="tertiary">Fecha tope de pago</ion-label>
              <ion-label color="tertiary">{{fechaLimite}}</ion-label>
              <ion-label color="tertiary">{{dias}}</ion-label>
              <ion-label *ngIf="concepto" class="subtitle" color="tertiary">Concepto</ion-label>
              <ion-label color="tertiary" style="width: 100%; text-align: center;">{{concepto}}</ion-label>
            </div>
            <ion-button mode="ios" (click)="onAccept()" class="accent-button" expand="block" color="secondary">
              Finalizar
            </ion-button>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>

