.background-desktop{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(91vh - 50px - 61px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


.info{
    font-family: Open Sans;
    text-align: center;
    font-weight: bold;
}
.resume-info{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    }

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
    align-items: center;
}


.cuenta{
    --detail-icon-color: var(--ion-color-primary);
}

.resume-box{
border: 1px solid #D4D4D4;
box-sizing: border-box;
border-radius: 5px;
display: flex;
flex-direction: column;
width: 85%;
padding: 15px;
align-items: center;
}



@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .content-principal{
        height: calc(91vh - 57px);
    }


}