<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
    <ion-buttons default-href="/login" slot="end">
      <ion-img (click)="editarCuenta()" style="height: 30px; width: 30px; margin: 10px; cursor: pointer;" src="../assets/images/icons/create.svg"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
      <ion-row id="content-principal-datos-bancarios" class="content-principal">
          <ion-col class="col-content" size="12" size-md="6" size-sm="12">
            <div class="content">
                <ion-label class="tittle" color="tertiary">Datos Bancarios</ion-label>
                <div id="content-list-datos-bancarios" class="content-list">
                  <ion-list *ngIf="true">
                    <ion-item detail="false" [button]="editar" [ngClass]="{'cursor': editar}" *ngFor="let cuenta of cuentas">
                      <ion-icon style="cursor: pointer;" (click)="eliminarCuenta( cuenta )" *ngIf="editar" color="secondary" name="remove-circle"></ion-icon> &nbsp;&nbsp;
                      <div style="width: 86%;" (click)="modificarCuenta( cuenta )">
                        <ion-label class="list-title" color="primary">{{ cuenta.titulo }}</ion-label>
                        <ion-label class="tipo-cuenta" color="tertiary">{{ cuenta.subtitulo }}</ion-label>
                        <ion-label class="cuenta" color="tertiary">{{ cuenta.info }}</ion-label>
                      </div>
                    </ion-item>
                  </ion-list>
                  <ion-label *ngIf="cuentas.length == 0" class="label-info">No tienes información bancaria registrada</ion-label>
                </div>
                <ion-button routerLink="/tabs/perfil/agregar-datos" mode="ios" class="accent-button" expand="block" color="secondary">
                  Agregar datos
                </ion-button>
                <ion-button (click)="editarCuenta()" mode="ios" class="button" class="simple-button" expand="block" fill="outline">
                  Editar datos existentes
                </ion-button>
            </div>
          </ion-col>
          <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
              
          </ion-col>
      </ion-row>
  </div>

</ion-content>
