.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(99vh - 50px - 61px);
    overflow: auto;
}

.content-principal-ios{
    height: calc(91vh - 50px - 61px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.tittle{
    font-size: 24px;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
    align-items: center;
}

.content-list{
    width: 90%;
    max-width: 320px;
    height: calc( 99vh - 50px - 61px - 150px);
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    ion-item{
        --padding-start: 0;
    }
}

.content-list-ios{
    height: calc( 91vh - 50px - 61px - 150px);
}

.label-info{
    color: #DADADA;
    padding: 5%;
    text-align: center;
    margin: auto;
}

.list-title{
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 5px;
}

.tipo-cuenta{
    font-size: 12px;
}

.cursor{
    cursor: pointer;
}

.cuenta{
    font-size: 15px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .content-right, .simple-button{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .content-principal{
        height: calc(100vh - 57px);
    }

    .content-list{
        height: calc( 98vh - 57px - 210px);
    }

    .tittle{
        margin-top: 20px;
    }
}