<ion-header class="ion-no-border header">
    <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start">
            <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../../assets/images/icons/back_button.png"></ion-img>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-desktop">
        <ion-row id="content-principal-deuda-historial" class="content-principal">
            <ion-col class="col-content" size="12" size-md="6" size-sm="12">
                <div class="content">
                    <ion-label class="title" color="tertiary">Detalle de pago</ion-label>
                    <div class="content-datos">
                        <ion-label class="title-datos" color="primary">Datos del cobrador:</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary">Nombre y apellido</ion-label>
                        <ion-label class="info-datos" color="tertiary">{{ pago.acreedor.nombres }} {{ pago.acreedor.apellidos }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary">Número de identificación</ion-label>
                        <ion-label class="info-datos" color="tertiary">{{ pago.acreedor.cedula }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary">Número de celular</ion-label>
                        <ion-label class="info-datos" color="tertiary">{{ pago.acreedor.telefono }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary" *ngIf="pago.acreedor.correo">Correo electrónico</ion-label>
                        <ion-label class="info-datos" color="tertiary" *ngIf="pago.acreedor.correo">{{ pago.acreedor.correo }}</ion-label>
                    </div>
                    <div class="content-datos">
                        <div style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
                            <ion-label class="title-datos" color="primary">Detalle del pago:</ion-label>
                            <ion-img *ngIf="pago.comprobante" (click)="verImagen()" class="verimagen" src="../../assets/images/verimagen.png"></ion-img>
                        </div>
                        <ion-label class="subtitle-datos" color="tertiary">Fecha del pago</ion-label>
                        <ion-label class="info-datos" color="tertiary">{{ pago.fechaConciliacion | date:'dd/MM/yyyy' }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary" *ngIf="pago.metodo">Método de pago</ion-label>
                        <ion-label class="info-datos" color="tertiary" *ngIf="pago.metodo">{{ pago.metodo.metodo }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary" *ngIf="pago.referencia">Referencia o detalle</ion-label>
                        <ion-label class="info-datos" color="tertiary" *ngIf="pago.referencia">{{ pago.referencia }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary">Monto</ion-label>
                        <ion-label class="info-datos" color="tertiary">{{ pago.currency }} {{ pago.monto }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary">Evaluación al deudor</ion-label>
                        <ionic-rating-component #rating activeIcon="star" defaultIcon="star-outline" activeColor="#E7A016" defaultColor="#E7A016" readonly="true" [rating]="pago.calificacion" fontSize="15px" style="margin-top: -8px;">
                        </ionic-rating-component>
                    </div>
                    <div class="content-datos" *ngIf="pago.estado == 'confirmado' && pago.pagas.length > 0">
                        <ion-label class="title-datos" color="primary">Deudas pagadas:</ion-label>
                        <div class="content-abono" *ngFor="let abono of pago.pagas">
                            <ion-label class="box-subtitle" color="tertiary">Concepto</ion-label>
                            <ion-label class="info-datos" color="tertiary">{{ abono.concepto }}</ion-label>
                            <ion-label class="box-subtitle" color="tertiary">Abonado</ion-label>
                            <ion-label class="info-datos" color="tertiary">{{ abono.currency }} {{ abono.monto }}</ion-label>
                        </div>
                    </div>

                    <div class="content-datos" *ngIf="pago.estado == 'confirmado' && pago.abonada.abonado">
                        <ion-label class="title-datos" color="primary">Deuda abonada:</ion-label>
                        <div class="content-abono">
                            <ion-label class="box-subtitle" color="tertiary">Monto Deuda</ion-label>
                            <ion-label class="info-datos" color="tertiary">{{ pago.currency }} {{ pago.abonada.montoDeuda }}</ion-label>
                            <ion-label class="box-subtitle" color="tertiary">Concepto</ion-label>
                            <ion-label class="info-datos" color="tertiary">{{ pago.abonada.concepto }}</ion-label>
                            <ion-label class="box-subtitle" color="tertiary">Abonado</ion-label>
                            <ion-label class="info-datos" color="tertiary">{{ pago.currency }} {{ pago.abonada.abonado }}</ion-label>
                        </div>
                    </div>

                    <div class="content-datos" *ngIf="pago.estado != 'confirmado'" style="min-height: 115px;">
                        <ion-label class="title-datos" color="danger">Deuda incobrable</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary">Fecha de conciliación</ion-label>
                        <ion-label class="info-datos" color="tertiary">{{ pago.fechaConciliacion | date:'dd/MM/yyyy' }}</ion-label>
                        <ion-label class="subtitle-datos" color="tertiary">Evaluación al deudor</ion-label>
                        <ionic-rating-component #rating activeIcon="star" defaultIcon="star-outline" activeColor="#E7A016" defaultColor="#E7A016" readonly="true" [rating]="pago.calificacion" fontSize="15px" style="margin-top: -8px;">
                        </ionic-rating-component>
                    </div>
                </div>
            </ion-col>
            <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
            </ion-col>
        </ion-row>
    </div>
</ion-content>