<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 140px; margin-bottom: 5px;" src="../../assets/images/icons/noti_Check.svg"></ion-img>
            <ion-label class="tittle" color="tertiary">Pago registrado <br> exitosamente</ion-label>
            <br>
            <!-- <ion-label color="tertiary" style="text-align: center;">Solo falta que {{ pago.deuda.nombre }} {{ pago.deuda.apellido }} <br> confirme el pago</ion-label> -->
            <div class="content-info" style="min-height: 400px;">
              <ion-label color="tertiary" style="font-weight: bold;">Datos personales</ion-label>
              <ion-label color="tertiary">{{ pago.deuda.nombre }} {{ pago.deuda.apellido }}</ion-label>
              <ion-label color="tertiary">{{ pago.deuda.cedula }}</ion-label>
              <br>
              <ion-label color="tertiary" style="font-weight: bold;">Total abono</ion-label>
              <ion-label color="tertiary">{{ pago.currency }} {{ pago.montoAbonado }}</ion-label>
              <br *ngIf="deudasPagas.length > 0">
              <ion-label *ngIf="deudasPagas.length > 0" color="tertiary" style="font-weight: bold;">Deudas pagadas</ion-label>
              <div *ngFor="let deudaPaga of deudasPagas" style="display: flex; flex-direction: column; align-items: center;">
                <ion-label color="tertiary">{{ deudaPaga.concepto }}</ion-label>
                <ion-label color="tertiary">{{ pago.currency }} {{ deudaPaga.monto }}</ion-label>
              </div>
              <br>
              <ion-label *ngIf="this.pago.pago.deudaAbonada.abonado" color="tertiary" style="font-weight: bold;">Deuda abonada</ion-label>
              <ion-label *ngIf="this.pago.pago.deudaAbonada.abonado" color="tertiary">{{ pago.pago.deudaAbonada.concepto }}</ion-label>
              <ion-label *ngIf="this.pago.pago.deudaAbonada.abonado" color="tertiary">{{ pago.currency }} {{ pago.pago.deudaAbonada.abonado }}</ion-label>
              
            </div>
            <ion-button (click)="onContinue()" mode="ios" class="button" expand="block" color="secondary">
              Finalizar
            </ion-button>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>