<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs" color="primary">
    <ion-tab-button tab="enviar-cobro">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Enviar cobro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pendientes">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Pendientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>