.background-desktop {
    background-image: url(../../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal {
    height: calc(99vh - 50px - 70px);
    overflow: auto;
}

.content-principal-ios {
    height: calc(91vh - 50px - 70px);
}

.col-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 10px;
}

.content {
    text-align: center;
    width: 85%;
    padding-top: 25px;
    overflow: auto;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
}

.content-datos {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 6px;
}

.content-abono {
    text-align: left;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #CACACA;
    margin-top: 5px;
    width: 100%;
}

.title-datos {
    font-size: 14px;
    font-weight: bold;
}

.subtitle-datos {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.info-datos {
    font-size: 14px;
}

.item-bank {
    --padding-start: 0;
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    div ion-label {
        margin-bottom: 5px;
    }
    cursor: pointer;
}

.content-button {
    width: 90%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 20px;
    ion-button {
        width: 45%;
        --border-radius: 5px;
        max-width: 320px;
    }
}

.registrar-button {
    width: 100% !important;
}

@media only screen and (max-width: 767px) {
    .content-right {
        display: none;
    }
    .background-desktop {
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        display: none;
    }
    .content-principal {
        height: calc( 100vh - 57px);
    }
}