<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 140px; margin-bottom: 5px;" src="../assets/images/icons/unsuccess_icon.png"></ion-img>
            <ion-label class="title" color="tertiary">{{deuda.deudor.nombres}} {{deuda.deudor.apellidos}}<br> ha rechazado tu deuda</ion-label>
            <ion-label class="subtitle" color="tertiary"style="margin-top: 15px">Contacta al pagador para conocer<br> 
              los detalles del rechazo antes de<br> 
              volver a enviar la orden de cobro</ion-label>
            <div class="light-box" style="margin-top: 10px; min-height: 104px;">
              <ion-label class="box-subtitle" color="tertiary">Número de celular</ion-label>
              <ion-label class="info-label" color="tertiary">{{deuda.deudor.telefono}}</ion-label>
              <ion-label class="box-subtitle" color="tertiary">Correo electrónico</ion-label>
              <ion-label class="info-label" color="tertiary">{{ deuda.deudor.correo }}</ion-label>
            </div>
            <ion-button mode="ios" (click)="userAcknowledged()" class="accent-button" expand="block" color="secondary">
              Aceptar
            </ion-button>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>