.content-principal{
    height: calc( 91vh - 44px - 56px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


.logo-letra{
    width: 280px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.selector{
    display: flex;
    align-items: flex-end;
    width: 90%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

ion-select{
    color: var(--ion-color-primary);
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

.label-input{
    color:  var(--ion-color-tertiary);
}

.label-id{
    padding-left: 5px;
}

.label-currency{
    display: block;
    margin: auto;
    margin-top: 10px;
    color: var(--ion-color-primary);
    padding-left: 85px;
    font-size: 14px;
    max-width: 320px;
    width: 90%;
}

.input-id{
    --padding-start: 5px;
}

.title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 49px;
    color: #565757;
}
.subtitle{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #565757;
}

.error{
    font-size: 0.6rem;
    text-align: left;
    width: 100%;
    max-width: 320px;
    margin: auto;
    display: block;
}

.button-login{
    margin-top: 30px;
}

.button-forget{
    --border-color: #D4D4D4;
    --color: var(--ion-color-tertiary);
    margin-top: 10px;
    --background: #ffffff;
}

.button-registrar{
    --color: var(--ion-color-tertiary);
    --border-color: #D4D4D4;
    font-weight: bold;
    --background: #ffffff;
}

form{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.registrar-desktop{
    width: 320px;
}

.label-desktop{
    font-size: 30px;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

.content-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: absolute;
    bottom: 50px;
    right: 40px;
}

.content-registrar{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 97%;
    max-width: 320px;
}

.content-registrar-active{
    margin: auto;
    margin-top: 60px;
    width: 97%;
    max-width: 320px;
}

.button-directorio{
    --background: #ffffff;
    --border-color: var(--ion-color-primary);
    font-size: 10px;
    color: var(--ion-color-primary);
    --border-radius: 5px;
    --border-style: solid;
    --border-width: 1px;
    --background-focused: #fff;
    --background-hover: #fff;
    --background-activated: #fff;
    width: 85px;
    margin-left: 10px;
    img{
        width: 23px;
    }
}

.button-directorio:disabled, .button-directorio[disabled]{
    --border-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary);
    opacity: 1;
}




ion-button{
    --border-radius: 5px;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }

}

@media only screen and (min-width: 768px) {
  
    .background{
        background-image: none;
    }
}