<ion-header>
  <ion-toolbar mode="ios">
    <ion-title >
      <img class="logo" src="./assets/images/logo/Logo_Creditwit_Inteldata.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <div class="col-content background">
          <ion-label class="title" style="margin-top: 20px;">Enviar orden de cobro</ion-label>
          <ion-label class="subtitle">Registra los datos del deudor</ion-label>
          <form [formGroup]="newChargeForm" (ngSubmit)="checkUserAccountsNumber()" novalidate autocomplete="off"
          margin-top:20px
          >
              <div class="selector">
                <ion-select
                  style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 75px; padding-bottom: 15px; padding-right: 30px;"
                  formControlName="letter" interface="popover" mode="ios" color="primary">
                  <ion-select-option value="V">V</ion-select-option>
                  <ion-select-option value="E">E</ion-select-option>
                  <ion-select-option value="J">J</ion-select-option>
                  <ion-select-option value="C">C</ion-select-option>
                  <ion-select-option value="G">G</ion-select-option>
                </ion-select>
                <ion-item style="width: 49%;" mode="ios" class="ion-no-padding">
                  <ion-label position="floating" color="primary" class="label-id label-input">Número de identificación
                  </ion-label>
                  <ion-input (keydown)="onInput($event)" (ionChange)="formatID($event)" [(ngModel)]="fixedID" class="input-id" mode="ios" type="text" formControlName="id"
                    color="primary"  maxlength="11" inputmode="numeric">
                  </ion-input>
                </ion-item>
                <ion-button mode="ios" (click)="goToDirectorio()" class="button-directorio" [(disabled)]="!directorio">
                  <img src="./assets/images/icons/directorio.svg" alt="">
                  Directorio
                </ion-button>
              </div> 
              <ion-label class="label error" color="danger"
                *ngIf="emptyID || ((errorControl.id.invalid && (errorControl.id.dirty || errorControl.id.touched)) && errorControl.id.errors?.required)">
                Número de identificación es un campo requerido.</ion-label>
                <ion-label class="label error" color="danger"
                *ngIf="idRepeated">
                Número de identificación no puede ser propio.</ion-label>
                <ion-label class="label error" color="danger"
                *ngIf="idInvalid">
                Número de identificación invalido.</ion-label>
              <ion-label color="primary" class="label-currency label-input">Monto</ion-label>
              <div class="selector">
                <ion-select 
                  style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 80px; padding-bottom: 15px; padding-right: 10px;"
                  formControlName="currencyType" interface="popover" mode="ios" color="primary" (ionChange)="clearAmount()">
                  <ion-select-option value="Bs">Bs</ion-select-option>
                  <ion-select-option value="$">$</ion-select-option>
                </ion-select>
                <ion-item style="width: 100%; border-left: 1px solid #92949c;" mode="ios" class="ion-no-padding">
                  <app-currency-input [precision]="precision" [amount]="amountCurrency" (amountEntered)="amountChanged($event)"></app-currency-input> 
                </ion-item>
              </div>
            

            <ion-label class="label error" color="danger"
              *ngIf="amountInvalid || ((errorControl.amount.invalid && (errorControl.amount.dirty || errorControl.amount.touched)) && errorControl.amount.errors?.required)">
              Monto no válido.</ion-label>

            <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
              Continuar
            </ion-button>

          </form>
        </div>

      </ion-col>
    </ion-row>
  </div>

</ion-content>