.content-principal{
    height: 100vh;
}



.logo-login{
    width: 100px;
    margin-top: 30px;
}

.logo-letra{
    width: 240px;
    margin-top: 15px;
    margin-bottom: 5px;
}

ion-select{
    color: var(--ion-color-primary);
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

ion-item{
    --padding-start: 0;
}

.label-input{
    color:  var(--ion-color-tertiary);
}

.label-id{
    padding-left: 5px;
}

.input-id{
    --padding-start: 5px;
}

.label{
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.error{
    font-size: 0.6rem;
    text-align: left;
    width: 90%;
    max-width: 320px;
}

.label-desktop{
    font-size: 30px;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
}

.content-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: absolute;
    bottom: 50px;
  
}
.content-registrar{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 320px;
    .simple-button{
        width: 100%;
    }
}

.content-registrar-active{
    margin: auto;
    margin-top: 60px;
    width: 90%;
    max-width: 320px;
    .simple-button{
        width: 100%;
    }
}



.background-desktop{
    background-image: url(../../../assets/images/fondo_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.background{
    background-image: url(/assets/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.terminos{
    color: #ffffff;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

form{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }

    .col-content{
        min-height: 550px;
    }
}

@media only screen and (min-width: 768px) {
    .content-registrar, ion-header{
        display: none;
    }

    .content-principal{
        padding: var(--padding-auth);
    
    }

    .background{
        background-image: none;
    }
}

.icon-eyes{
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 9;
    font-size: 25px;
}