<ion-content>
    <div class="background-desktop ">
        <ion-row class="content-principal">
            <ion-col class="col-content" size="12" size-md="6" size-sm="12">
                <div class="col-content background">
                    <ion-header class="ion-no-border header">
                        <ion-toolbar class="ion-no-border">
                        </ion-toolbar>
                    </ion-header>
                    <ion-img class="logo-login" src="../assets/images/logo/Logo_Creditwit.png"></ion-img>
                    <ion-img class="logo-letra" src="../assets/images/logo/Logo_Creditwit_letra.png"></ion-img>

                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate autocomplete="off">
                        <div class="item-form" style="display: flex; align-items: flex-end;">
                            <ion-select style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 60px; padding-bottom: 15px; padding-right: 30px;" formControlName="letter" interface="popover" mode="ios" color="primary">
                                <ion-select-option value="V">V</ion-select-option>
                                <ion-select-option value="E">E</ion-select-option>
                                <ion-select-option value="J">J</ion-select-option>
                                <ion-select-option value="C">C</ion-select-option>
                                <ion-select-option value="G">G</ion-select-option>
                            </ion-select>
                            <ion-item style="width: 100%;" mode="ios" class="ion-no-padding">
                                <ion-label position="floating" color="primary" class="label-id label-input">Número de identificación</ion-label>
                                <ion-input maxlength="11" inputmode="numeric" (keydown)="onInput($event)" [(ngModel)]="fixedID" (ionChange)="formatID($event)" class="input-id" mode="ios" type="text" formControlName="id" color="primary">
                                </ion-input>
                            </ion-item>
                        </div>
                        <ion-label class="label error" color="danger" *ngIf="((errorControl.id.invalid && (errorControl.id.dirty || errorControl.id.touched)) && errorControl.id.errors?.required) || idInvalid">El código de confirmación es un campo requerido.</ion-label>
                        <ion-item class="item-form" mode="ios">
                            <ion-label mode="ios" position="floating" class="label-input">Clave</ion-label>
                            <ion-input minlength="8" maxlength="25" (keydown)="onEnter($event)" mode="ios" [type]="hide ? 'text' : 'password'" formControlName="pass" color="primary"></ion-input>
                            <ion-icon [name]="hide ? 'eye-off-outline' : 'eye-outline'" (click)="hidden()" class="icon-eyes"></ion-icon>
                        </ion-item>
                        <ion-label class="label error" color="danger" *ngIf="((errorControl.pass.invalid && (errorControl.pass.dirty || errorControl.pass.touched))) || passInvalid">La clave debe contener al menos 8 caracteres.</ion-label>
                        <ion-label class="label error" color="danger" *ngIf="error">La combinación de clave y número de identificación es incorrecta</ion-label>
                        <ion-button [disabled]="!loginForm.valid" mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
                            Iniciar sesión
                        </ion-button>
                        <ion-button mode="ios" [routerLink]="['/contrasena']" expand="block" fill="outline" class="light-button">
                            Olvidé mi clave
                        </ion-button>
                        <div *ngIf="keyboard" class="content-registrar">
                            <a class="terminos" href="https://docs.google.com/gview?embedded=true&url=http://creditwit.app/terminos" target='_blank'>Términos y condiciones</a>
                            <a class="terminos" href="mailto:info@creditwit.app" target="_blank">Escríbenos a info@creditwit.app</a>
                            <ion-label class="label" style="color: #ffffff">¿No tienes una cuenta?</ion-label>
                            <ion-button mode="ios" [routerLink]="['/registro1']" expand="block" fill="solid" class="simple-button">
                                Regístrate
                            </ion-button>
                        </div>
                    </form>
                </div>

            </ion-col>
            <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
                <div class="content-desktop">
                    <ion-label class="label-desktop">Gestiona tus créditos <br> y pagos en un solo lugar</ion-label>
                    <ion-button mode="ios" [routerLink]="['/registro1']" expand="block" fill="outline" class="simple-button">
                        Regístrate
                    </ion-button>
                    <a class="terminos" href="https://docs.google.com/gview?embedded=true&url=http://creditwit.app/terminos" target='_blank'>Términos y condiciones</a>
                    <a class="terminos" href="mailto:info@creditwit.app" target="_blank">Escríbenos a info@creditwit.app</a>
                </div>
            </ion-col>
        </ion-row>
    </div>

</ion-content>