<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 92px; margin-bottom: 5px;" src="../assets/images/icons/otros.png"></ion-img>
            <ion-label class="tittle" color="tertiary">Otro</ion-label>
            <form [formGroup]="cuentaForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
              <ion-item class="item-form" mode="ios">
                <ion-label mode="ios" position="floating" class="label-input">Título</ion-label>
                <ion-input maxlength="30" mode="ios" type="text" autocapitalize="sentences" formControlName="title" color="primary"></ion-input>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.title.invalid && (errorControl.title.dirty || errorControl.title.touched)) && errorControl.title.errors?.required) || titleInvalid">El título es un campo requerido.</ion-label>
              <ion-textarea maxlength="100" formControlName="comment" class="textarea" placeholder="Escribe aquí lo que necesites" autocapitalize="sentences"></ion-textarea>
              <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
                Guardar
              </ion-button>
            </form>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>
