<!--<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-label class="title" color="tertiary">Detalle de cobro</ion-label>
            <div class="content-datos">
              <ion-label class="title-datos" color="primary">Datos del cobrador:</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Nombre y apellido</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ deuda.acreedor.nombres }} {{ deuda.acreedor.apellidos }}</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Número de identificación</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ deuda.acreedor.cedula }}</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Número de celular</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ deuda.acreedor.telefono }}</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Correo electrónico</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ deuda.acreedor.correo }}</ion-label>
            </div>
            <div class="content-datos">
              <ion-label class="title-datos" color="primary">Detalles de la deuda:</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Monto</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Límite de pago</ion-label>
              <ion-label class="info-datos" color="tertiary">Hasta el {{ deuda.fechaLimite | date:'dd/MM/yyyy' }}</ion-label>
              <ion-label class="subtitle-datos" color="tertiary">Concepto</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ deuda.concepto }}</ion-label>
            </div>

            <ion-item class="item-bank" detail="true">
              <div style="display: flex; flex-direction: column;">
                <ion-label class="title-datos" color="primary">Datos bancarios</ion-label>
                <ion-label class="info-datos" color="tertiary">4 método de pago </ion-label>
              </div>
            </ion-item>
          </div>
          <div class="content-button">
            <ion-button (click)="answerDoubt( false )" expand="block" color="secondary" mode="ios">
              Rechazar
            </ion-button>
            <ion-button (click)="answerDoubt( true )" expand="block" color="secondary" mode="ios">
              Aceptar
            </ion-button>
          </div>
        </ion-col>
        <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
        </ion-col>
    </ion-row>
  </div>
</ion-content>
