<ion-header>
    <ion-toolbar mode="ios">
        <ion-title>
            <img class="logo" src="./assets/images/logo/Logo_Creditwit_Inteldata.png" alt="">
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="background-desktop">
        <ion-row class="content-principal">
            <ion-content>
                <ion-col class="col-content" size="12" size-md="6" size-sm="12">
                    <div class="content">

                        <div class="content-descarga">
                            <div>
                                Desde <br>
                                <input type="date" [value]="fechaInicio | date:'yyyy-MM-dd'" (input)="fechaInicio=parseDate($event.target.value)">
                            </div>
                            <div>
                                Hasta <br>
                                <input type="date" [value]="fechaFin | date:'yyyy-MM-dd'" (input)="fechaFin=parseDate($event.target.value)">
                            </div>
                            <img (click)="exportToExcel()" src="/assets/images/icons/descarga.png" alt="">
                        </div>

                        <div class="content-button">
                            <ion-button id="left" mode="ios" (click)="cobrar()" expand="block" [ngClass]="{'boton': deudor, 'boton-active': !deudor}">
                                Cobros
                            </ion-button>
                            <ion-button id="right" mode="ios" (click)="pagar() " expand="block" [ngClass]="{'boton': !deudor, 'boton-active': deudor}">
                                Pagos
                            </ion-button>
                        </div>
                        <div *ngIf="!deudor" class="list-item">
                            <ion-list>
                                <ion-item button="true" (click)="goToCobro( cobro )" detail="false" *ngFor="let cobro of cobros">
                                    <div class="content-fecha">
                                        <ion-label color="tertiary">{{ cobro.fechaConciliacion | date:'dd/MM' }}</ion-label>
                                        <ion-label color="tertiary">{{ cobro.fechaConciliacion | date:'yyyy' }}</ion-label>
                                    </div>
                                    <div class="content-data">
                                        <ion-label style="font-weight: bold;" color="primary">{{ cobro.deudor.nombres }} {{ cobro.deudor.apellidos }}</ion-label>
                                        <ion-label color="tertiary">{{ cobro.deudor.cedula }}</ion-label>
                                        <ion-label color="tertiary">{{ cobro.currency }} {{ cobro.monto }}</ion-label>
                                    </div>
                                    <div class="content-status">
                                        <ion-label *ngIf="cobro.estado == 'confirmado'" color="success">Pago <br> recibido</ion-label>
                                        <ion-label *ngIf="cobro.estado == 'incobrable'" color="danger">Deuda <br> incobrable</ion-label>
                                        <ion-label *ngIf="cobro.estado == 'rechazado'" color="danger">Pago <br> rechazado</ion-label>
                                        <ion-label *ngIf="cobro.estado == 'eliminada'" color="danger">Deuda <br> eliminada</ion-label>
                                        <ion-label *ngIf="cobro.estado == 'deudaRechazada'" color="danger">Deuda <br> rechazada</ion-label>
                                    </div>
                                </ion-item>
                            </ion-list>
                        </div>
                        <div *ngIf="deudor" class="list-item">
                            <ion-list>
                                <ion-item button="true" (click)="goToPago(pago)" detail="false" *ngFor="let pago of pagos">
                                    <div class="content-fecha">
                                        <ion-label color="tertiary">{{ pago.fechaConciliacion | date:'dd/MM' }}</ion-label>
                                        <ion-label color="tertiary">{{ pago.fechaConciliacion | date:'yyyy' }}</ion-label>
                                    </div>
                                    <div class="content-data">
                                        <ion-label style="font-weight: bold;" color="primary">{{ pago.acreedor.nombres }} {{ pago.acreedor.apellidos }}</ion-label>
                                        <ion-label color="tertiary">{{ pago.acreedor.cedula }}</ion-label>
                                        <ion-label color="tertiary">{{ pago.currency }} {{ pago.monto }}</ion-label>
                                    </div>
                                    <div class="content-status">
                                        <ion-label *ngIf="pago.estado == 'confirmado'" color="success">Pago <br> recibido</ion-label>
                                        <ion-label *ngIf="pago.estado == 'rechazado'" color="danger">Pago <br> rechazado</ion-label>
                                        <ion-label *ngIf="pago.estado == 'eliminada'" color="danger">Deuda <br> eliminada</ion-label>
                                        <ion-label *ngIf="pago.estado == 'deudaRechazada'" color="danger">Deuda <br> rechazada</ion-label>
                                    </div>
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>
                    <br>
                    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
                        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </ion-col>
            </ion-content>
        </ion-row>
    </div>
</ion-content>