.logo{
    width: 300px;
    margin: auto;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(100vh - 44px - 56px);
    overflow: auto;
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
}

.content-button{
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
    min-height: 45px;
}

.boton{
    width: 50%;
    --background: #ffffff;
    --color: #6B6C6C;
    opacity: 0.5;
    cursor: pointer;
    margin: 0;
    --border-color: #6B6C6C;
    --border-width: 0.5px;
    --border-style: solid;
}
#left{
    --border-top-left-radius: 5px;
    --border-top-right-radius: 0;
    --border-bottom-left-radius: 5px;
    --border-bottom-right-radius: 0;

    --border-radius: 
    var(--border-top-left-radius) 
    var(--border-top-right-radius) 
    var(--border-bottom-right-radius)
    var(--border-bottom-left-radius);
}

#right{
    --border-top-left-radius: 0;
    --border-top-right-radius: 5px;
    --border-bottom-left-radius: 0;
    --border-bottom-right-radius: 5px;

    --border-radius: 
    var(--border-top-left-radius) 
    var(--border-top-right-radius) 
    var(--border-bottom-right-radius)
    var(--border-bottom-left-radius);
}

.boton-active{
    width: 50%;
    cursor: pointer;
    margin: 0;
}

.margin{
    margin-top: 25px;
}

.list-item{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    ion-item{
        cursor: pointer;
        --background-hover: var(--ion-color-tertiary);
    }
}

.content-fecha{
    text-align: left;
    width: 24%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    ion-label{
        white-space: normal;
        font-size: 14px;
    }
}

.content-data{
    text-align: left;
    width: 45%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0;
    ion-label{
        white-space: normal;
        font-size: 14px;
    }
}

.content-status{
    text-align: right;
    width: 30%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ion-label{
        white-space: normal;
        font-size: 14px;
        font-weight: bold;
    }
}

.content-descarga{
    display: flex;
    align-items: flex-end;
    margin: auto;
    width: 60%;
    margin-bottom: 10px;
    div{
        color: #565757;
        font-size: 14px;
        margin-right: 10px;
        input{
            background-color: #ffffff;
            border: 1px solid #D5D5D5;
            border-radius: 5px;
            height: 35px;
            width: 138px;
            padding: 5px;
        }
        ::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

    }
    img{
        width: 53px;
        padding: 3px 12px;
        border: 1px solid #106EB0;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
    .content-button{
        width: 85%;
    }

    .list-item{
        width: 90%;
    }

    .content-descarga{
        display: none;
    }
}