.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(91vh - 50px - 61px);
    overflow: auto;
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.tittle{
    font-size: 24px;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
    align-items: center;
}

.content-list{
    width: 90%;
    max-width: 320px;
    height: calc( 91vh - 50px - 61px - 150px);
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    ion-item{
        --padding-start: 0;
    }
}

.info{
    text-align: center;
    font-weight: bold;
}

.cuenta{
    --detail-icon-color: var(--ion-color-primary);
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .content-principal{
        height: calc(100vh - 57px);
    }

    .tittle{
        margin-top: 20px;
    }
}