<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
      <ion-row class="content-principal">
          <ion-col class="col-content" size="12" size-md="6" size-sm="12">
            <div class="content">
                <ion-label class="tittle" color="tertiary">Agregar datos</ion-label>
                <br>
                <ion-label class="info" color="tertiary">Selecciona qué tipo de</ion-label>
                <ion-label class="info" color="tertiary">información quieres registrar</ion-label>
                <br>
                <div class="content-list">
                  <ion-list>
                    <ion-item routerLink="/tabs/perfil/cuenta-bancaria" class="cuenta" detail="true">
                      <ion-label color="primary">Cuenta bancaria nacional</ion-label>
                    </ion-item>
                    <ion-item routerLink="/tabs/perfil/pago-movil" class="cuenta" detail="true">
                      <ion-label color="primary">Pago móvil</ion-label>
                    </ion-item>
                    <ion-item routerLink="/tabs/perfil/zelle" class="cuenta" detail="true">
                      <ion-label color="primary">Zelle</ion-label>
                    </ion-item>
                    <ion-item (click)="addEfectivo()" routerLink="/tabs/perfil/agregar-datos" class="cuenta" detail="true">
                      <ion-label color="primary">Efectivo</ion-label>
                    </ion-item>
                    <ion-item routerLink="/tabs/perfil/otros" class="cuenta" detail="true">
                      <ion-label color="primary">Otro</ion-label>
                    </ion-item>
                  </ion-list>
                </div>
            </div>
          </ion-col>
          <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
              
          </ion-col>
      </ion-row>
  </div>

</ion-content>
