.content-principal{
    height: calc(100vh - 54px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
ion-select{
    color: var(--ion-color-primary);
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

.label-input{
    --color: var(--ion-color-tertiary);
}

.label-id{
    padding-left: 58px;
}

.input-id{
    --padding-start: 5px;
}

.label{
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.error{
    font-size: 0.6rem;
    text-align: left;
    width: 90%;
    max-width: 320px;
}

.button-login{
    margin-top: 20px;
}

ion-button{
    --border-radius: 5px;
}

.titulo{
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
}

form{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.icon-eyes{
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 9;
}

.terminos{
    color: var(--ion-color-tertiary);
    font-size: 0.7rem;
    margin-top: 20px;
    text-decoration: underline;
}

.link{
    color: var(--ion-color-tertiary);
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: underline;
}

.link:hover{
    text-decoration: underline;
}

.titulo-desktop{
    color: #ffffff;
    font-weight: bold;
    font-size: 4rem;
}

.content-left{
    background: #106EB0;
}

.background{
    background-image: url(../../../../assets/images/background_triangulo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.input-id{
    --padding-start: 4px;
}

ion-select{
    color: var(--ion-color-primary);
}

@media only screen and (max-width: 767px) {
    .content-left{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .col-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background{
        background-image: none;
    }

    .content-principal{
        height: 100vh;
    }
}

@media only screen and (max-height: 600px) {
    .background{
        background-image: none;
    }
}