<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="content-principal">
    <ion-col class="col-content content-left" size="12" size-md="6" size-sm="0">
      <div class="col-content background-desktop">
        <ion-label class="titulo-desktop">Regístrate</ion-label>
      </div>
    </ion-col>
    <ion-col class="col-content" size="12" size-md="6" size-sm="12">
      <div class="col-content background">
        <ion-label color="primary" class="titulo">{{ tittle }}</ion-label>
        <!-- <ion-label color="primary" *ngIf="registrado"><strong>{{ cedula }}</strong></ion-label> -->
        <form [formGroup]="registro2Form" (ngSubmit)="onContinue()" novalidate autocomplete="off">
          <ion-item class="item-form" mode="ios">
            <ion-label mode="ios" position="floating" class="label-input">Nombres</ion-label>
            <ion-input mode="ios" type="text" autocapitalize="sentences" formControlName="name" color="primary" ></ion-input>
          </ion-item>
          <ion-label class="item-form" class="label error" color="danger" *ngIf="((errorControl.name.invalid && (errorControl.name.dirty || errorControl.name.touched)) && errorControl.name.errors?.required) || nameInvalid">El nombre es un campo requerido.</ion-label>
          <ion-item class="item-form" mode="ios">
            <ion-label mode="ios" position="floating" class="label-input">Apellidos</ion-label>
            <ion-input mode="ios" type="text" autocapitalize="sentences" formControlName="lastName" color="primary"></ion-input>
          </ion-item>
          <ion-label class="label error" color="danger" *ngIf="((errorControl.lastName.invalid && (errorControl.lastName.dirty || errorControl.lastName.touched)) && errorControl.lastName.errors?.required) || lastNameInvalid">El apellido es un campo requerido.</ion-label>
          <ion-item class="item-form" mode="ios">
            <ion-label mode="ios" position="floating" class="label-input">Correo electrónico</ion-label>
            <ion-input mode="ios" type="email" formControlName="email" color="primary"></ion-input>
          </ion-item>
          <ion-label class="label error" color="danger" *ngIf="((errorControl.email.invalid && (errorControl.email.dirty || errorControl.email.touched)) && errorControl.email.errors?.required) || emailInvalid">El correo electrónico es un campo requerido.</ion-label>
          <div class="item-form" style="display: flex; align-items: flex-end;">
            <ion-select style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 85px; padding-bottom: 15px; padding-right: 10px; padding-left: 5px;" formControlName="code" interface="popover" mode="ios" color="primary">
                <ion-select-option value="0414">0414</ion-select-option>
                <ion-select-option value="0424">0424</ion-select-option>
                <ion-select-option value="0412">0412</ion-select-option>
                <ion-select-option value="0416">0416</ion-select-option>
                <ion-select-option value="0426">0426</ion-select-option>
            </ion-select>
            <ion-item style="width: 100%;" mode="ios" class="ion-no-padding">
                <ion-label position="floating" color="primary" class="label-id label-input">Número celular</ion-label>
                <ion-input maxlength="7" inputmode="numeric" (keydown)="onInput($event)" class="input-id"  mode="ios" type="text" formControlName="phone" color="primary">
                </ion-input>
            </ion-item>
          </div>
          <ion-label class="label error" color="danger" *ngIf="((errorControl.phone.invalid && (errorControl.phone.dirty || errorControl.phone.touched)) && errorControl.phone.errors?.required) || phoneInvalid">El teléfono celular es un campo requerido.</ion-label>
          <ion-item class="item-form" mode="ios">
            <ion-label mode="ios" position="floating" class="label-input">Clave</ion-label>
            <ion-input  maxlength="25" mode="ios" [type]="hide ? 'text' : 'password'" formControlName="pass" color="primary"></ion-input>
            <ion-icon [name]="hide ? 'eye-off-outline' : 'eye-outline'" (click)="hidden()" color="primary" class="icon-eyes"></ion-icon>
          </ion-item>
          <ion-label class="label error" color="danger" *ngIf="((errorControl.pass.invalid && (errorControl.pass.dirty || errorControl.pass.touched)) && (errorControl.pass.errors?.required || errorControl.pass.errors?.minlength)) || passInvalid">La clave debe tener mínimo 8 caracteres.</ion-label>
          <br>
          <ion-label class="label terminos">Al continuar aceptas los</ion-label>
          <a class="label link" href="https://docs.google.com/gview?embedded=true&url=http://creditwit.app/terminos" target='_blank'>Términos y condiciones</a>
          <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
            Continuar
          </ion-button>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
