<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 92px; margin-bottom: 5px;" src="../assets/images/icons/zelle.png"></ion-img>
            <ion-label class="tittle" color="tertiary">Zelle</ion-label>
            <form [formGroup]="cuentaForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
              <ion-item class="item-form" mode="ios">
                <ion-label mode="ios" position="floating" class="label-input">Nombre y apellido</ion-label>
                <ion-input autocapitalize="sentences" mode="ios" type="text" formControlName="name" color="primary"></ion-input>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.name.invalid && (errorControl.name.dirty || errorControl.name.touched)) && errorControl.name.errors?.required) || nameInvalid">El nombre y apellido es un campo requerido.</ion-label>
              <ion-item class="item-form" mode="ios">
                <ion-select (ionChange)="changeType()" class="select" formControlName="type" interface="popover" mode="ios" placeholder="Tipo de cuenta">
                  <ion-select-option >Correo electrónico</ion-select-option>
                  <ion-select-option >Número de teléfono</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="item-form" mode="ios" *ngIf="typeBool">
                <ion-label mode="ios" position="floating" class="label-input">Correo electrónico</ion-label>
                <ion-input mode="ios" type="email" formControlName="email" color="primary"></ion-input>
              </ion-item>
              <ion-item class="item-form" mode="ios" *ngIf="!typeBool">
                <ion-label mode="ios" position="floating" class="label-input">Número de teléfono</ion-label>
                <ion-input mode="ios" inputmode="numeric" (keydown)="onInput($event)" [brmasker]="{mask:'(000) 000 0000'}" maxlength="14" type="text" formControlName="email" color="primary"></ion-input>
              </ion-item>
              <ion-label class="label error" color="danger" *ngIf="((errorControl.email.invalid && (errorControl.email.dirty || errorControl.email.touched)) && errorControl.email.errors?.required) || emailInvalid">El correo electrónico o el número de teléfono es un campo requerido.</ion-label>
              <ion-label class="label error" color="danger" *ngIf="emailFormat">El correo electrónico no tiene un formato válido.</ion-label>
              <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
                Guardar
              </ion-button>
            </form>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>
