.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(91vh - 50px - 61px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.tittle{
    font-size: 24px;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 15px;
    align-items: center;
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

form{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.label-id{
    padding-left: 5px;
}

.input-id{
    --padding-start: 5px;
}

.label-input{
    --color: var(--ion-color-tertiary);
}

.button{
    margin-top: 25px;
}

.label{
    text-align: center;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.error{
    font-size: 0.6rem;
    text-align: left;
    width: 90%;
    max-width: 320px;
}

ion-select{
    color: var(--ion-color-primary);
}

.select{
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    --placeholder-color: var(--ion-color-tertiary);
    --placeholder-opacity: 1;
    --padding-start: 0;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .content-principal{
        height: calc(100vh - 57px);
    }

    .tittle{
        margin-top: 20px;
    }
}