.background-desktop{
    background-image: url(../../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(91vh - 50px - 61px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.tittle{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-top: 15px;
    align-items: center;
}

.label-info{
    font-size: 1rem;
    font-weight: normal;
    margin-top: 15px;
    text-align: center;
}

.content-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    padding: 15px 5px;
    max-width: 320px;
    min-height: 160px;
    ion-label{
        margin: 2px;
    }
}

.button{
    margin-top: 15px;
    max-width: 320px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .content-principal{
        height: calc(100vh - 57px);
    }

    .tittle{
        margin-top: 20px;
    }
}