<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-img style="height: 140px; margin-bottom: 5px;" src="../../assets/images/icons/unsuccess_icon.png"></ion-img>
            <ion-label class="tittle" color="tertiary">{{ deuda.acreedor.nombres }} {{ deuda.acreedor.apellidos }} ha rechazado tu pago</ion-label>
            <ion-label class="label-info" color="tertiary">Contacta al cobrador para conocer los detalles del rechazo antes de volver a registrar tu pago</ion-label>
            <div class="content-info">
              <ion-label color="tertiary" style="font-weight: bold;">Número de celular</ion-label>
              <ion-label color="tertiary">{{ deuda.acreedor.telefono }}</ion-label>
              <br>
              <ion-label color="tertiary" style="font-weight: bold;">Correo electrónico</ion-label>
              <ion-label color="tertiary">{{ deuda.acreedor.correo }}</ion-label>
            </div>
            <ion-button (click)="onContinue()" mode="ios" class="button" expand="block" color="secondary">
              Aceptar
            </ion-button>
          </div>
        </ion-col>
    </ion-row>
  </div>
</ion-content>
