
.content-principal{
    height: 91vh;
}
 
.col-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.col-content-info{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.content-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: absolute;
    bottom: 50px;
    right: 40px;
}


.background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.background-desktop{
    background-image: url(../../../../../assets/images/fondo_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;  
    
}

.content-principal{
    height: calc(91vh - 44px - 56px);
}
@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {

    .col-content{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    
    }

    .content-principal{
        height: calc(100vh - 44px - 13px);
    }

    .header{
        display: none;
    }
 
}

.info-label{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #565757;

}

.content-row{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    .accent-button{
        width: 47%;
        margin: 0;
        margin-top: 30px;
    }
}

.content-row-full{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.content-abono{
    text-align: left;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #CACACA;
    margin-top: 5px;
    width: 100%;
}