<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px"
        src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <ion-label style="padding-top: 25px;" class="title">Detalle de cobro</ion-label>
        <!--DATOS DEL PAGADOR-->
        <div class="regular-box" style="min-height: 210px; height: auto;">
          <ion-label color="primary" class="box-title">Datos del pagador:</ion-label>
          <div>
            <ion-label color="tertiary" class="box-subtitle">Nombre y apellido</ion-label>
            <ion-label class="info-label">{{ deuda.deudor.nombres }} {{ deuda.deudor.apellidos }}</ion-label>
            <ion-label color="tertiary" class="box-subtitle">Número de identificación</ion-label>
            <ion-label class="info-label">{{ deuda.deudor.cedula }}</ion-label>
            <ion-label color="tertiary" class="box-subtitle">Número de celular</ion-label>
            <ion-label class="info-label">{{ deuda.deudor.telefono }}</ion-label>
            <ion-label color="tertiary" class="box-subtitle" *ngIf="deuda.deudor.correo">Correo electrónico</ion-label>
            <ion-label class="info-label">{{ deuda.deudor.correo }}</ion-label>
          </div>
        </div>
        <!--DATOS DE LA DEUDA-->
        <div class="regular-box" style="margin-top: 20px; min-height: auto; height: auto;">
          <ion-label color="primary" class="box-title">Detalles de la deuda:</ion-label>
          <div style="width: 100%;">
            <ion-label color="tertiary" class="box-subtitle">Monto a cobrar</ion-label>
            <ion-label class="info-label">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
            <ion-label color="tertiary" class="box-subtitle">Fecha emisión de deuda</ion-label>
            <ion-label class="info-label">{{ deuda.createdAt | date:'dd/MM/yyyy' }}</ion-label>
            <ion-label color="tertiary" class="box-subtitle">Límite de pago</ion-label>
            <ion-label class="info-label">Hasta el {{ deuda.fechaLimite | date:'dd/MM/yyyy' }}</ion-label>
            <ion-label color="tertiary" class="box-subtitle">Concepto</ion-label>
            <ion-label class="info-label">{{ deuda.concepto }}</ion-label>
            <div class="content-abono" *ngFor="let abono of abonos">
              <ion-label color="tertiary" class="box-subtitle">Fecha del abono</ion-label>
              <ion-label class="info-label">{{ abono.fecha | date:'dd/MM/yyyy' }}</ion-label>
              <ion-label class="box-subtitle" color="tertiary">Monto</ion-label>
              <ion-label class="info-datos" color="tertiary">{{ deuda.currency }} {{ abono.abonada.abonado }}</ion-label>
            </div>
          </div>
        </div>

        <div [ngClass]="incobrable ? 'content-row' : 'content-row-full'">
          <ion-button mode="ios"  *ngIf="incobrable" class="accent-button" type="submit" (click)="deudaIncobrable()"
            expand="block" color="secondary">
            Incobrable
          </ion-button>
          <ion-button mode="ios" class="accent-button" type="submit" (click)="eliminarDeuda( )" expand="block"
            color="secondary">
            Eliminar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
  </ion-content>