<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      <img class="logo" src="./assets/images/logo/Logo_Creditwit_Inteldata.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
      <ion-row class="content-principal">
          <ion-col class="col-content" size="12" size-md="6" size-sm="12">
            <div class="content">
              <div class="content-tittle">
                <ion-label class="tittle" color="tertiary">
                  {{ nombres }} {{ apellidos }}
                </ion-label>
                <div class="rating" (click)="showRatingHistory()">
                  {{ rating}} <ion-icon name="star" style="padding-inline-start: 5px; padding-inline-end: 5px;"></ion-icon> ({{ numeroCalificaciones }})
                </div>
              </div>
             

              <div class="datos-content" style="min-height: 155px;">
                <ion-label class="box-title" color="primary">Datos personales</ion-label>
                <ion-label class="box-subtitle" color="tertiary" style="margin-top: 5px;">Número de identificación</ion-label>
                <ion-label class="info-label" color="tertiary">{{ cedula }}</ion-label>
                <ion-label class="box-subtitle" color="tertiary">Teléfono celular</ion-label>
                <ion-label class="info-label" color="tertiary">{{ telefono }}</ion-label>
                <ion-label class="box-subtitle" color="tertiary">Correo electrónico</ion-label>
                <ion-label class="info-label" color="tertiary">{{ correo }}</ion-label>
              </div>

              <ion-item detail="true"  routerLink="/tabs/perfil/datos-bancarios">
                <ion-label color="primary">Datos bancarios</ion-label>
                <ion-label color="tertiary" style="text-align: right;">{{ cuentas.length + numCuentas }}</ion-label>
              </ion-item>
              <ion-item *ngIf="cordova" detail="false">
                <div style="width: 100%;">
                  <ion-label color="primary">Notificaciones push</ion-label>
                  <ion-label style="font-size: 12px; width: 100%; white-space: normal;" color="tertiary">Al desactivarlas, recibirás la información por SMS</ion-label>
                </div>
                <ion-toggle slot="end" [(ngModel)]="push" (click)="setPush()"></ion-toggle>
              </ion-item>
              <ion-item detail="true" class="cerrar-sesion" routerLink="/tabs/perfil" (click)="cerrarSesion()">
                <ion-label color="danger">Cerrar sesión</ion-label>
              </ion-item>

              <div class="copy">
                <ion-label color="tertiary" style="font-size: 0.8rem;" class="info-label">Si necesitas soporte escríbenos a</ion-label>
                <ion-label (click)="clipboard()" color="tertiary" class="subtitle">info@creditwit.app</ion-label>
                <input id="email" type="text" value="info@creditwit.app" style="position: fixed;" class="input-invisible">
              </div>

            </div>
          </ion-col>
          <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
              
          </ion-col>
      </ion-row>
  </div>

</ion-content>
