.logo{
    width: 300px;
    margin: auto;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(100vh - 44px - 56px);
    overflow: auto;
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
}

.bold{
    font-weight: bold;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.input-invisible{
    position: fixed;
    border: none;
    background: transparent;
    color: transparent;
    outline: none;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-top: 25px;
}

.tittle{
    font-size: 1.3rem;
    font-weight: bold;
}

.rating{
    background-color: var(--ion-color-secondary);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 10px;
    height: 30px;
    cursor: pointer;
}

.rating:hover{
    background-color: var(--ion-color-secondary);
    opacity: 0.7;
}

.content-tittle{
    display: flex;
    padding-left: 10px;
}

.datos-content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #F7F7F7;
    width: 100%;
    padding: 10px;
}


.cerrar-sesion{
    --detail-icon-color: var(--ion-color-danger);
    cursor: pointer;
}


ion-item{

    margin: auto;
    width: 100%;
    --padding-start: 0;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (max-height: 630px) {
    .copy{
        position: inherit;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}