<ion-item (click)="openInput()" lines="none" mode="ios">
  {{ formattedAmount }}
  <ion-input color="primary" name="dummyFacade" id="dummyFacade" #dummyFacade type="number" inputmode="numeric"
      (keyup)="handleKeyUp($event)" (ionInput)="handleInput($event)"></ion-input>
</ion-item>