/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    src: url('assets/font/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('assets/font/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/font/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/font/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/font/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/font/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

*{
    font-family: 'Open Sans';
}

body { 
    padding-top: constant (safe-area-inset-top); // para iOS 11.2 
    padding-top: env (safe-area-inset-top); // para iOS 11.1 
}

.input-id .native-input.sc-ion-input-ios{
    border-left: 1px solid var(--ion-color-medium) !important;
}

/**---------------MARGENES Y FONDOS---------------*/

//LOGIN, CAMBIO DE CLAVE, CONFIRMACION DE CODIGO, CAMBIO DE CLAVE



.col-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

/**--------------INPUTS-----------*/
// EDIT TEXT STYLES

ion-input{
    text-transform: none !important;
}

ion-title{
   
    background-color: var(--ion-color-light);
}

ion-input{
    --placeholder-color: var(--ion-color-tertiary);
}

ion-item.item-has-focus > ion-label{
    color:  var(--ion-color-primary)  !important;
}

.label-input{
    color:  var(--ion-color-tertiary);
}

.input-text{
    --padding-start: 5px;
}

/**--------------VIEWS-----------------*/

// TEXTVIEWS (TITLES AND LABELS) STYLES
.title{
    text-align: center;
    font-family: Open Sans;
    font-size: 1.5rem;
    font-weight: 800;
    align-content: center;
}

.subtitle{
    font-family: Open Sans;
    text-align: center;
    font-size:  0.875rem;
    font-weight: bold;
}
.regular-label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    }

    // usado dentro de los boxes para mostrar info debajo de un titulo
.info-label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 19px;
    color: #565757;
    
    }


//BOXES AND DIVS STYLES
.box-title{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 1rem;
line-height: 22px;
display: flex;
align-items: center;
color: primary;
}

.box-subtitle{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 0.75rem;
display: flex;
align-items: center;
color: primary;
}

//TOOLBAR

.logo{
    width: 300px;
    margin: auto;
}
// BUTTONS

.accent-button{
    margin-top: 30px;
    max-width: 320px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 5px;
}

.simple-button{
    --color: var(--ion-color-tertiary);
    --border-color: #D4D4D4;
    --background: #ffffff;
    max-width: 320px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 5px;
}

.light-button{
    --border-color: #D4D4D4;
    --color: var(--ion-color-tertiary);
    margin-top: 10px;
    --background: #ffffff;
    max-width: 320px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    --border-radius: 5px;
}

.light-box{
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 15px;
    align-items: center;
    max-width: 320px;
    }

.regular-box{
    background: #F7F7F7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px;
    align-items: flex-start;
    position: relative;
}

.swal2-close, .swal2-confirm, .swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel{
    outline: none !important;
    box-shadow: none !important;
}

.item-form{
    width: 90%;
    max-width: 320px;
    --padding-start: 0;
    margin: auto;
}