<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px"
        src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-top: 10px;">
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <div class="content">
          <ion-label class="tittle" color="tertiary">Historial de evaluaciones</ion-label>

          <ion-list class="list">
            <ion-item *ngFor="let rate of ratings">
              <div class="item-historial">
                <ion-label color="tertiary" style="font-weight: bold;">{{rate.rater.nombres}} {{rate.rater.apellidos}}
                </ion-label>
                <div style="display: flex; align-items: center;">
                  <ionic-rating-component #rating activeIcon="star" defaultIcon="star-outline" activeColor="#E7A016"
                    defaultColor="#E7A016" readonly="true" rating={{rate.rating}} fontSize="16px" style="padding-right: 10px;">
                  </ionic-rating-component>
                  <ion-label color="tertiary" class="info-label">  {{ rate.fecha | date:'dd/MM/yyyy' }} </ion-label>
                </div>

              </div>
            </ion-item>

          </ion-list>

        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>