.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(91vh - 50px - 61px);
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.tittle{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-top: 15px;
    align-items: center;
}

.list{
    width: 100%;
    max-width: 360px;
    margin-top: 20px;
}

.item-historial{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 2px;
}

ion-item{
    --padding-start: 0;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {
    .header{
        display: none;
    }

    .content-principal{
        height:100%;
    }

    .tittle{
        margin-top: 20px;
    }
}