.content-principal{
    height: 91vh;
}

.header{
    margin-top: 70px;
}
 
.col-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


.content-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: absolute;
    bottom: 50px;
    right: 40px;
}


.background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.background-desktop{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;  
    
}

.content-principal{
    height: calc(91vh - 44px - 56px);
}
@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
}

@media only screen and (min-width: 768px) {

    .col-content{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    
    }
 
}

.rating-component{
    margin-top: 20px;
    display: flex;
    padding: 15px;
    align-items: center;
}


.name-box{
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 15px;
    align-items: center;
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}