<ion-content style="margin-top: 20px;">
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <ion-label class="title header">Califica al deudor</ion-label>
        <!--CALIFICA DEUDOR-->
        <div class="name-box">
          <ion-label class="title">{{deuda.deudor.nombres}} {{deuda.deudor.apellidos}}</ion-label>
        </div>
        <div class="rating-component">
          <ionic-rating-component #rating activeIcon="star" defaultIcon="star-outline" activeColor="#E7A016"
            defaultColor="#E7A016" readonly="false" rating="0" fontSize="32px" (ratingChanged)="onRatingChange($event)">
          </ionic-rating-component>
        </div>
        <ion-button mode="ios" (click)="finish()" class="accent-button" expand="block" color="secondary">
          Finalizar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>