<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin:10px" src="../../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row id="content-principal-cobros-por-persona" class="content-principal">
        <ion-col class="col-content" size="12" size-md="6" size-sm="12">
          <div class="content">
            <ion-label class="title" color="tertiary">Por cobrar a:</ion-label>
            <div class="content-datos">
              <div style="width: 50%; padding-left: 10px;">
                <ion-label style="font-weight: bold; font-size: 14px; margin-bottom: 3px;" color="primary">{{ deuda.nombre }} {{ deuda.apellido }}</ion-label>
                <ion-label style="font-size: 14px;" color="tertiary">{{ deuda.cedula }}</ion-label>
              </div>
              <div style="width: 50%; text-align: right; padding-right: 5px;">
                <ion-label *ngIf="deuda.monto$ != '0,00'" style="font-size: 14px; font-weight: bold;" color="tertiary">$ {{ deuda.monto$ }}</ion-label>
                <ion-label *ngIf="deuda.monto$ == '0,00'" style="font-size: 14px; font-weight: bold; color: #DADADA;">$ {{ deuda.monto$ }}</ion-label>
                <ion-label *ngIf="deuda.montoBs != '0,00'" style="font-size: 14px; font-weight: bold;" color="tertiary">Bs {{ deuda.montoBs }}</ion-label>
                <ion-label *ngIf="deuda.montoBs == '0,00'" style="font-size: 14px; font-weight: bold; color: #DADADA;">Bs {{ deuda.montoBs }}</ion-label>
              </div>
            </div>
            <ion-label class="segment">Cobros vencidos</ion-label>
            <div class="list-item">
              <ion-item button="true" class="item-payment" *ngFor="let pago of pagosVencidos" (click)="goToDetalleDeuda( pago )">
                <div class="content-payment">
                  <div style="width: 24%;">
                    <ion-label style="font-weight: bold; font-size: 14px;" color="danger">{{ pago.dias }} dias</ion-label>
                  </div>
                  <div style="width: 40%;">
                    <ion-label style="font-weight: bold; font-size: 14px;" color="primary">{{ deuda.nombre }} {{ deuda.apellido }}</ion-label>
                    <ion-label style="font-size: 12px;" color="tertiary">{{ pago.concepto }}&nbsp;</ion-label>
                  </div>
                  <div style="width: 40%; text-align: right;">
                    <ion-label *ngIf="!pago.restante" style="font-size: 14px; font-weight: bold;" color="tertiary">{{ pago.currency }} {{ pago.montoTotal }}</ion-label>
                    <ion-label *ngIf="pago.restante" style="font-size: 14px; font-weight: bold;" color="tertiary">{{ pago.currency }} {{ pago.restanteTotal }}</ion-label>
                    <ion-label *ngIf="pago.restante" style="font-size: 14px; font-weight: bold; color: #DADADA;">{{ pago.currency }} {{ pago.montoTotal }}</ion-label>
                  </div>
                </div>
              </ion-item>
            </div>
            <ion-label class="segment">Cobros por vencer</ion-label>
            <div class="list-item">
              <ion-item button="true" class="item-payment" *ngFor="let pago of pagosPorVencer" (click)="goToDetalleDeuda( pago )">
                <div class="content-payment">
                  <div style="width: 24%;">
                    <ion-label style="font-weight: bold; font-size: 14px;" color="secondary">{{ pago.dias }} dias</ion-label>
                  </div>
                  <div style="width: 40%;">
                    <ion-label style="font-weight: bold; font-size: 14px;" color="primary">{{ deuda.nombre }} {{ deuda.apellido }}</ion-label>
                    <ion-label style="font-size: 12px;" color="tertiary">{{ pago.concepto }}&nbsp;</ion-label>
                  </div>
                  <div style="width: 40%; text-align: right;">
                    <ion-label *ngIf="!pago.restante" style="font-size: 14px; font-weight: bold;" color="tertiary">{{ pago.currency }} {{ pago.montoTotal }}</ion-label>
                    <ion-label *ngIf="pago.restante" style="font-size: 14px; font-weight: bold;" color="tertiary">{{ pago.currency }} {{ pago.restanteTotal }}</ion-label>
                    <ion-label *ngIf="pago.restante" style="font-size: 14px; font-weight: bold; color: #DADADA;">{{ pago.currency }} {{ pago.montoTotal }}</ion-label>
                  </div>
                </div>
              </ion-item>
            </div>
          </div>
          <ion-button [(disabled)]="!cuentas" class="accent-button" (click)="registrarPago()" expand="block" color="secondary" mode="ios">
            Registrar pago
          </ion-button>
        </ion-col>
    </ion-row>
  </div>
</ion-content>