<ion-header class="ion-no-border header">
  <ion-toolbar class="ion-no-border">
    <ion-buttons default-href="/login" slot="start">
      <ion-img (click)="goBack()" style="height: 35px; width: 35px; margin: 10px" src="../assets/images/icons/back_button.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
    <ion-row class="content-principal">
      <ion-col class="col-content" size="12" size-md="6" size-sm="12">
        <div class="col-content background">
          <ion-label color="tertiary" class="titulo">¿Olvidaste tu clave?</ion-label>
          <ion-label color="tertiary" class="label-info">Ingresa tu número de identificación para restablecerla</ion-label>
          <form [formGroup]="contrasenaForm" (ngSubmit)="onContinue()" novalidate autocomplete="off">
            <div class="item-form" style="display: flex; align-items: flex-end; margin: auto;">
              <ion-select style="height: 37px; border-bottom: 1px solid #D4D4D4; width: 60px; padding-bottom: 15px; padding-right: 30px;" formControlName="letter" interface="popover" mode="ios" color="primary">
                  <ion-select-option value="V">V</ion-select-option>
                  <ion-select-option value="E">E</ion-select-option>
                  <ion-select-option value="J">J</ion-select-option>
                  <ion-select-option value="C">C</ion-select-option>
              </ion-select>
              <ion-item style="width: 100%;" mode="ios" class="ion-no-padding">
                  <ion-label position="floating" color="primary" class="label-id label-input">Número de identificación</ion-label>
                  <ion-input maxlength="11" type="text" inputmode="numeric" (keydown)="onInput($event)" [(ngModel)]="fixedID" (ionChange)="formatID($event)" class="input-id" mode="ios" type="text" formControlName="id" color="primary">
                  </ion-input>
              </ion-item>
            </div>
            <ion-label class="label error" color="danger" *ngIf="((errorControl.id.invalid && (errorControl.id.dirty || errorControl.id.touched)) && errorControl.id.errors?.required) || idInvalid">El número de identificación es un campo requerido.</ion-label>
            <ion-button mode="ios" class="accent-button" type="submit" expand="block" color="secondary">
              Continuar
            </ion-button>
          </form>
        </div>
      </ion-col>
      <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
      </ion-col>
    </ion-row>
  </div>
</ion-content>
