<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      <img class="logo" src="./assets/images/logo/Logo_Creditwit_Inteldata.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-desktop">
      <ion-row class="content-principal">
          <ion-col class="col-content" size="12" size-md="6" size-sm="12">
            <div class="content">
              <div class="content-button">
                <ion-button id="left" mode="ios" (click)="cobrar()" expand="block" [ngClass]="{'boton': deudor, 'boton-active': !deudor}">
                  Por cobrar
                </ion-button>
                <ion-button id="right" mode="ios" (click)="pagar() " expand="block" [ngClass]="{'boton': !deudor, 'boton-active': deudor}">
                  Por pagar
                </ion-button>
              </div>
              <div *ngIf="deudor" style="display: flex; flex-direction: column;">
                <div class="list-item">
                  <ion-item (click)="goToDetalleDeuda(deuda)" *ngFor="let deuda of deudaXConfirmar" detail="true" lines="none" class="item-top">
                    <div class="content-item">
                      <ion-label class="tittle-label">{{ deuda.acreedor.nombres }} {{ deuda.acreedor.apellidos }} te esta cobrando</ion-label>
                      <ion-label class="monto-label">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
                      <ion-label class="info-label">{{ deuda.concepto }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item (click)="goToRechazoPago(deuda)" *ngFor="let deuda of pagoRechazado" detail="true" lines="none" class="item-top red">
                    <div class="content-item">
                      <ion-label class="tittle-label">{{ deuda.acreedor.nombres }} {{ deuda.acreedor.apellidos }} ha declinado tu solicitud de pago</ion-label>
                      <ion-label class="monto-label">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
                    </div>
                  </ion-item>
                </div>

                <ion-label class="segment">Pagos pendientes</ion-label>
                <div class="list-item">
                  <ion-item class="item-payment" *ngFor="let deuda of porPagar" detail="true" (click)="goToListDeudas(deuda)">
                    <div class="content-payment">
                      <div style="width: 50%; padding-left: 10px;">
                        <ion-label style="font-weight: bold; font-size: 14px; margin-bottom: 3px;" color="primary">{{ deuda.nombre }} {{ deuda.apellido }}</ion-label>
                        <ion-label style="font-size: 12px;" color="tertiary">{{ deuda.cedula }}</ion-label>
                      </div>
                      <div style="width: 50%; text-align: right; padding-right: 5px;">
                        <ion-label *ngIf="deuda.monto$ != '0,00'" style="font-size: 14px; font-weight: bold;" color="tertiary">$ {{ deuda.monto$ }}</ion-label>
                        <ion-label *ngIf="deuda.monto$ == '0,00'" style="font-size: 14px; font-weight: bold; color: #DADADA;">$ {{ deuda.monto$ }}</ion-label>
                        <ion-label *ngIf="deuda.montoBs != '0,00'" style="font-size: 14px; font-weight: bold;" color="tertiary">Bs {{ deuda.montoBs }}</ion-label>
                        <ion-label *ngIf="deuda.montoBs == '0,00'" style="font-size: 14px; font-weight: bold; color: #DADADA;">Bs {{ deuda.montoBs }}</ion-label>
                      </div>
                    </div>
                  </ion-item>
                </div>
  
                <!-- <ion-label class="segment">Pagos vencidos</ion-label>
  
                <div class="list-item">
                  <ion-item button="true" (click)="goToDetalleDeuda(deuda)" class="item-payment" *ngFor="let deuda of porPagar.vencida">
                    <div class="content-payment">
                      <div style="width: 20%;">
                        <ion-label style="font-weight: bold; font-size: 14px;" color="danger">{{ deuda.days }} dias</ion-label>
                      </div>
                      <div style="width: 40%;">
                        <ion-label style="font-weight: bold; font-size: 14px;" color="primary">{{ deuda.acreedor.nombres }} {{ deuda.acreedor.apellidos }}</ion-label>
                        <ion-label style="font-size: 12px;" color="tertiary">{{ deuda.acreedor.cedula }}</ion-label>
                      </div>
                      <div style="width: 40%; text-align: right;">
                        <ion-label style="font-size: 14px; font-weight: bold;" color="tertiary">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
                      </div>
                    </div>
                  </ion-item>
                </div>
  
                <ion-label class="segment">Pagos por vencer</ion-label>
  
                <div class="list-item" *ngFor="let deuda of porPagar.porVencer">
                  <ion-item button="true" (click)="goToDetalleDeuda(deuda)" class="item-payment">
                    <div class="content-payment">
                      <div style="width: 20%;">
                        <ion-label style="font-weight: bold; font-size: 14px;" color="secondary">{{ deuda.days }} dias</ion-label>
                      </div>
                      <div style="width: 40%;">
                        <ion-label style="font-weight: bold; font-size: 14px;" color="primary">{{ deuda.acreedor.nombres }} {{ deuda.acreedor.apellidos }}</ion-label>
                        <ion-label style="font-size: 12px;" color="tertiary">{{ deuda.acreedor.cedula }}</ion-label>
                      </div>
                      <div style="width: 40%; text-align: right;">
                        <ion-label style="font-size: 14px; font-weight: bold;" color="tertiary">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
                      </div>
                    </div>
                  </ion-item>
                </div> -->
              </div>
                  <!--ACREEDOR-->
              <div *ngIf="!deudor" style="display: flex; flex-direction: column;">
                <div class="list-item">
                  <ion-item button="true" *ngFor="let deuda of deudaPagada" detail="true" lines="none" class="item-top green"
                  (click)="goToPaymentDetail(deuda)"
                  >
                    <div class="content-item">
                      <ion-label class="tittle-label">{{ deuda.deudor.nombres }} {{ deuda.deudor.apellidos }} abonó a su deuda</ion-label>
                      <ion-label class="monto-label">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
                      <ion-label class="info-label">{{ deuda.concepto }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item button="true" *ngFor="let deuda of deudaRechazada" detail="true" lines="none" class="item-top red"
                  (click)="goToPaymentRejected(deuda)"
                  >
                    <div class="content-item">
                      <ion-label class="tittle-label">{{ deuda.deudor.nombres }} {{ deuda.deudor.apellidos }} ha declinado tu solicitud de cobro</ion-label>
                      <ion-label class="monto-label">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
                    </div>
                  </ion-item>
                </div>
  
                <ion-label class="segment">Cobros pendientes</ion-label>
  
                <div class="list-item">
                  <ion-item button="true" class="item-payment" *ngFor="let deuda of porCobrar"
                  (click)="goToListCobros(deuda)"
                  >
                    <div class="content-payment">
                      <div style="width: 50%; padding-left: 10px;">
                        <ion-label style="font-weight: bold; font-size: 14px; margin-bottom: 3px;" color="primary">{{ deuda.nombre }} {{ deuda.apellido }}</ion-label>
                        <ion-label style="font-size: 12px;" color="tertiary">{{ deuda.cedula }}</ion-label>
                      </div>
                      <div style="width: 50%; text-align: right; padding-right: 5px;">
                        <ion-label *ngIf="deuda.monto$ != '0,00'" style="font-size: 14px; font-weight: bold;" color="tertiary">$ {{ deuda.monto$ }}</ion-label>
                        <ion-label *ngIf="deuda.monto$ == '0,00'" style="font-size: 14px; font-weight: bold; color: #DADADA;">$ {{ deuda.monto$ }}</ion-label>
                        <ion-label *ngIf="deuda.montoBs != '0,00'" style="font-size: 14px; font-weight: bold;" color="tertiary">Bs {{ deuda.montoBs }}</ion-label>
                        <ion-label *ngIf="deuda.montoBs == '0,00'" style="font-size: 14px; font-weight: bold; color: #DADADA;">Bs {{ deuda.montoBs }}</ion-label>
                      </div>
                    </div>
                  </ion-item>
                </div>
  
                <!-- <ion-label class="segment">Cobros por vencer</ion-label>
            
                <div class="list-item">
                  <ion-item button="true" class="item-payment" *ngFor="let deuda of porCobrar.porVencer"
                  (click)="goToDetalleCobro(deuda)">
                    <div class="content-payment">
                      <div style="width: 20%;">
                        <ion-label style="font-weight: bold; font-size: 14px;" color="secondary">{{ deuda.days }} dias</ion-label>
                      </div>
                      <div style="width: 40%;">
                        <ion-label style="font-weight: bold; font-size: 14px;" color="primary">{{ deuda.deudor.nombres }} {{ deuda.deudor.apellidos }}</ion-label>
                        <ion-label style="font-size: 12px;" color="tertiary">{{ deuda.deudor.cedula }}</ion-label>
                      </div>
                      <div style="width: 40%; text-align: right;">
                        <ion-label style="font-size: 14px; font-weight: bold;" color="tertiary">{{ deuda.currency }} {{ deuda.monto }}</ion-label>
                      </div>
                    </div>
                  </ion-item>
                </div> -->
              </div>

            </div>
          </ion-col>
          <ion-col class="col-content content-right" size="12" size-md="6" size-sm="0">
              
          </ion-col>
      </ion-row>
  </div>

</ion-content>
