.logo{
    width: 300px;
    margin: auto;
}

.background-desktop{
    background-image: url(../../../../assets/images/fondo_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content-principal{
    height: calc(100vh - 44px - 56px);
    overflow: auto;
}

.col-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
}

.content-button{
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
    min-height: 45px;
}

.boton{
    width: 50%;
    --background: #ffffff;
    --color: #6B6C6C;
    opacity: 0.5;
    cursor: pointer;
    margin: 0;
    --border-color: #6B6C6C;
    --border-width: 0.5px;
    --border-style: solid;
}
#left{
    --border-top-left-radius: 5px;
    --border-top-right-radius: 0;
    --border-bottom-left-radius: 5px;
    --border-bottom-right-radius: 0;

    --border-radius: 
    var(--border-top-left-radius) 
    var(--border-top-right-radius) 
    var(--border-bottom-right-radius)
    var(--border-bottom-left-radius);
}

#right{
    --border-top-left-radius: 0;
    --border-top-right-radius: 5px;
    --border-bottom-left-radius: 0;
    --border-bottom-right-radius: 5px;

    --border-radius: 
    var(--border-top-left-radius) 
    var(--border-top-right-radius) 
    var(--border-bottom-right-radius)
    var(--border-bottom-left-radius);
}

.boton-active{
    width: 50%;
    cursor: pointer;
    margin: 0;
}

.list-item{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.item-top{
    --background: var(--ion-color-secondary);
    --color: #ffffff;
    --border-radius: 5px;
    --detail-icon-opacity: 1;
    --ripple-color: transparent;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    cursor: pointer;
    margin-top: 8px;
}

.red{
    --background: var(--ion-color-danger);
}

.green{
    --background: var(--ion-color-success);
}

.tittle-label{
    font-weight: bold;
    font-size: 14px;
    white-space: normal;
}

.monto-label{
    font-size: 12px;
    margin: 5px 0;
}

.info-label{
    font-size: 10px;
}

.segment{
    background-color: #E3E3E3;
    color: var(--ion-color-tertiary);
    text-align: center;
    font-weight: bold;
    padding: 2px;
    margin-top: 20px;
}

.content-payment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item-payment{
    width: 100%;
    --padding-start: 0;
    --detail-icon-color: #E7A016;
    --detail-icon-opacity: 1;
}

@media only screen and (max-width: 767px) {
    .content-right{
        display: none;
    }
    .background-desktop{
        background-image: none;
    }
    .content-button{
        width: 85%;
    }

    .list-item{
        width: 85%;
    }
}

@media only screen and (min-width: 768px) {
    .segment{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}